Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

applied Fiona's edits
  src/docs/product/integrations/bitbucket/index.mdx
  src/docs/product/integrations/github/index.mdx
  src/docs/product/integrations/gitlab/index.mdx
  src/docs/product/integrations/jira/index.mdx
Owners: none

Add: Troubleshoot section to on-prem integrations (#2127)
  src/docs/product/integrations/bitbucket/index.mdx
  src/docs/product/integrations/github/index.mdx
  src/docs/product/integrations/gitlab/index.mdx
  src/docs/product/integrations/jira/index.mdx
Owners: none

made a new unique index page, very gross, images dont work
  src/css/_includes/index.scss
  src/docs/index.md
  src/pages/apple-black.svg
  src/pages/dot-net-core-7.svg
  src/pages/go-6.svg
  src/pages/index-new.js
  src/pages/java-14.svg
  src/pages/javascript.svg
  src/pages/laravel-2.svg
  src/pages/nodejs-icon.svg
  src/pages/php-1.svg
  src/pages/python-5.svg
  src/pages/react.svg
  src/pages/swift-15.svg
  src/pages/symfony.svg
Owners: none

Fix: typo in Ruby "Context" link
  src/platforms/ruby/index.mdx
Owners: @getsentry/team-webplatform

fix: docs: webpack configuration, add vuejs config
  src/platforms/javascript/common/config/sourcemaps.mdx
Owners: @getsentry/team-webplatform

Fix: typo in Ruby "Context" link (#2128)
  src/platforms/ruby/index.mdx
Owners: @getsentry/team-webplatform

edit javascript to ruby
  src/platforms/ruby/common/config.mdx
Owners: @getsentry/team-webplatform

fix: docs: webpack configuration, add vuejs config (#2129)
  src/platforms/javascript/common/config/sourcemaps.mdx
Owners: @getsentry/team-webplatform

edit javascript to ruby (#2131)
  src/platforms/ruby/common/config.mdx
Owners: @getsentry/team-webplatform

fix: /platform/ -> /platforms/
  src/platforms/java/index.mdx
  src/platforms/ruby/index.mdx
  src/wizard/ruby/index.md
  src/wizard/ruby/rack.md
  src/wizard/ruby/rails.md
Owners: @getsentry/team-webplatform

feat: JS performance docs
  src/platforms/javascript/config/index.mdx
  src/platforms/javascript/config/performance.mdx
Owners: @getsentry/team-webplatform

fix(redirect): Fix infinite hosted/on-premise redirects
  vercel.json
Owners: none

fix(redirect): Fix infinite hosted/on-premise redirects
  vercel.json
Owners: none

ref: Remove unused markdown tableOfContents
  src/components/basePage.tsx
  src/templates/doc.js
  src/templates/platform.js
Owners: none

Basic docstring for usePlatform
  src/components/hooks/usePlatform.tsx
Owners: none

Note use of defaultvalue
  src/components/hooks/usePlatform.tsx
Owners: none

feat(unreal): Document custom properties/releases
  src/platforms/native/guides/ue4/advanced-config.mdx
  src/platforms/native/guides/ue4/releases.mdx
Owners: @getsentry/owners-native

transform nodes and fetch from sentry-api-schema
  bundle.json
  gatsby-config.js
  package-lock.json
  package.json
  plugins/gatsby-plugin-openapi/gatsby-node.js
  yarn.lock
Owners: none

initial UI
  package.json
  plugins/gatsby-plugin-openapi/gatsby-node.js
  src/css/_includes/development-api.scss
  src/css/screen.scss
  src/gatsby/createPages/createDevelopmentApiPages.ts
  src/gatsby/createPages/index.ts
  src/templates/developmentAPI.js
Owners: none

create gatsby-plugin-openapi
  bundle.json
  gatsby-config.js
  package.json
  plugins/gatsby-plugin-openapi/gatsby-node.js
  plugins/gatsby-plugin-openapi/index.js
  plugins/gatsby-plugin-openapi/package.json
Owners: none

robots.txt to disallow crawling of development-api
  robots.txt
Owners: none

Remove Python tracing wizard. This causes confusion as it's not for a language/framework.
  src/wizard/python/tracing.md
Owners: none

cleanup
  gatsby-config.js
  plugins/gatsby-plugin-openapi/gatsby-node.js
  src/css/_includes/development-api.scss
  src/templates/developmentAPI.js
Owners: none

Add platform schema and update selector + usePlatform
  gatsby-node.js
  src/components/hooks/usePlatform.tsx
  src/components/platformSelector.tsx
  src/gatsby/createPages/createApiPages.ts
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createPlatformPages.ts
  src/gatsby/createPages/createWizardDebugPages.ts
  src/gatsby/createSchemaCustomization/apiSchema.ts
  src/gatsby/createSchemaCustomization/index.ts
  src/gatsby/createSchemaCustomization/platformSchema.ts
  src/gatsby/helpers.ts
  src/gatsby/sourceNodes/index.ts
  src/gatsby/sourceNodes/platformNodes.ts
  src/platforms/javascript/index.mdx
Owners: @getsentry/team-webplatform

Clean up types
  src/components/hooks/usePlatform.tsx
  src/gatsby/createSchemaCustomization/platformSchema.ts
Owners: none

got the base layout, styles and icons in place. need bg image and hover styles still
  src/css/_includes/index.scss
  src/logos/cocoa.svg
  src/logos/dotnet.svg
  src/logos/dotnetcore.svg
  src/logos/go.svg
  src/logos/java.svg
  src/logos/javascript.svg
  src/logos/laravel.svg
  src/logos/node.svg
  src/logos/php.svg
  src/logos/python.svg
  src/logos/react.svg
  src/logos/reactnative.svg
  src/logos/sentry-wordmark-dark.svg
  src/logos/swift.svg
  src/logos/symfony.svg
  src/pages/index-new.js
Owners: none

Various platform config and support for fallbackPlatform
  src/components/configKey.tsx
  src/components/hooks/usePlatform.tsx
  src/components/platformContent.tsx
  src/gatsby/createSchemaCustomization/platformSchema.ts
  src/gatsby/sourceNodes/platformNodes.ts
  src/platforms/javascript/index.mdx
  src/platforms/node/index.mdx
  src/platforms/python/index.mdx
  src/platforms/ruby/index.mdx
Owners: @getsentry/team-webplatform

Remove log messages
  src/components/hooks/usePlatform.tsx
Owners: none

Unify keys and fix selector
  src/components/hooks/usePlatform.tsx
  src/components/platformSelector.tsx
  src/gatsby/createSchemaCustomization/platformSchema.ts
  src/gatsby/sourceNodes/platformNodes.ts
Owners: none

Remove unused node id
  src/components/hooks/usePlatform.tsx
Owners: none

typo
  src/components/hooks/useLocaleStorage.ts
  src/components/hooks/usePlatform.tsx
Owners: none

sentry instrumentation update
  src/platforms/python/guides/gcp-functions/index.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/python/guides/gcp-functions/index.mdx
  src/platforms/python/guides/gcp-functions/index.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/python/guides/gcp-functions/index.mdx
  src/platforms/python/guides/gcp-functions/index.mdx
Owners: @getsentry/team-webplatform

Missing file
  src/components/hooks/useLocalStorage.ts
Owners: none

Various fixes for platform content dropdown
  src/components/configKey.tsx
  src/components/hooks/usePlatform.tsx
  src/components/platformContent.tsx
  src/gatsby/sourceNodes/platformNodes.ts
Owners: none

Fix/gcp python intall (#2139)
  src/platforms/python/guides/gcp-functions/index.mdx
Owners: @getsentry/team-webplatform

Switch to setPlatform api
  src/components/platformContent.tsx
Owners: none

Update naming conventions; Collapse browser/browsernpm
  src/components/codeTabs.tsx
  src/includes/before-breadcrumb/dotnet.mdx
  src/includes/breadcrumbs-example/dotnet.mdx
  src/includes/capture-error/dotnet.mdx
  src/includes/capture-message/dotnet.mdx
  src/includes/configuration/before-send/dotnet.mdx
  src/includes/configuration/config-intro/dotnet.aspnetcore.mdx
  src/includes/configuration/config-intro/dotnet.mdx
  src/includes/configuration/drain-example/dotnet.mdx
  src/includes/configure-scope/dotnet.mdx
  src/includes/fingerprint-database-connection-example/dotnet.mdx
  src/includes/fingerprint-rpc-example/dotnet.mdx
  src/includes/getting-started-config/browser.mdx
  src/includes/getting-started-config/browsernpm.mdx
  src/includes/getting-started-config/dotnet.aspnetcore.mdx
  src/includes/getting-started-config/dotnet.mdx
  src/includes/getting-started-config/javascript.mdx
  src/includes/getting-started-install/browser.mdx
  src/includes/getting-started-install/browsernpm.mdx
  src/includes/getting-started-install/dotnet.aspnetcore.mdx
  src/includes/getting-started-install/dotnet.mdx
  src/includes/getting-started-install/javascript.mdx
  src/includes/getting-started-next-steps/dotnet.mdx
  src/includes/getting-started-verify/browsernpm.mdx
  src/includes/getting-started-verify/dotnet.mdx
  src/includes/getting-started-verify/javascript.mdx
  src/includes/set-environment/dotnet.mdx
  src/includes/set-extra/dotnet.mdx
  src/includes/set-level/dotnet.mdx
  src/includes/set-release/dotnet.mdx
  src/includes/set-tag/dotnet.mdx
  src/includes/set-user/dotnet.mdx
  src/includes/user-feedback-example/dotnet.aspnetcore.mdx
  src/includes/user-feedback-example/php.laravel.mdx
  src/includes/user-feedback-example/python.django.mdx
  src/includes/user-feedback-example/python.flask.mdx
  src/includes/with-scope/dotnet.mdx
  src/platforms/javascript/index.mdx
Owners: @getsentry/team-webplatform

Additional include renames
  src/includes/getting-started-config/javascript.cordova.mdx
  src/includes/getting-started-config/javascript.electron.mdx
  src/includes/getting-started-install/javascript.cordova.mdx
  src/includes/getting-started-install/javascript.electron.mdx
  src/includes/getting-started-verify/dotnet.aspnetcore.mdx
  src/includes/getting-started-verify/javascript.cordova.mdx
  src/includes/getting-started-verify/javascript.electron.mdx
  src/includes/set-environment/javascript.cordova.mdx
  src/includes/set-environment/javascript.electron.mdx
  src/includes/user-feedback-example/javascript.electron.mdx
Owners: none

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem
