Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

move images and create new file
  src/docs/enriching-error-data/breadcrumbs/index.mdx
  src/docs/product/error-monitoring/breadcrumbs/crumb-section.png
  src/docs/product/error-monitoring/breadcrumbs/filter-by.png
  src/docs/product/error-monitoring/breadcrumbs/index.mdx
  src/docs/product/error-monitoring/breadcrumbs/toggle-time-btn.png
  src/docs/product/error-monitoring/index.mdx
  src/platforms/javascript/common/errors/breadcrumbs/index.mdx
Owners: @getsentry/team-webplatform

Clarify WPF initialization instructions (#2061)
  src/platforms/dotnet/wpf.mdx
Owners: @bruno-garcia

ref: Upgrade several components to typescript
  .babelrc.js
  jest-transformer.js
  jest.config.js
  package.json
  src/components/basePage.tsx
  src/components/breadcrumbs.js
  src/components/breadcrumbs.tsx
  src/components/codeBlock.tsx
  src/components/codeContext.tsx
  src/components/codeTabs.tsx
  src/components/configKey.tsx
  src/components/dynamicNav.tsx
  src/components/guideGrid.js
  src/components/guideGrid.tsx
  src/components/header.tsx
  src/components/jsCdnTag.tsx
  src/components/layout.js
  src/components/layout.tsx
  src/components/logo.tsx
  src/components/navbar.tsx
  src/components/platformContent.js
  src/components/platformContent.tsx
  src/components/platformSidebar.js
  src/components/platformSidebar.tsx
  src/components/search.tsx
  src/components/seo.js
  src/components/seo.tsx
  src/components/sidebar.js
  src/components/sidebar.tsx
  src/components/smartLink.tsx
  src/components/tableOfContents.tsx
  src/platforms/javascript/guides/angular/components/index.mdx
  src/utils.ts
  src/wizard/flutter/index.md
  src/wizard/javascript/angular.md
  src/wizard/python/pythongcpfunctions.md
  yarn.lock
Owners: @getsentry/team-webplatform

fix: Disable CSP until unsafe-eval is solved
  nginx.conf
  vercel.json
Owners: none

build(deps): bump sentry sdk version to 5.21.4
  package.json
  yarn.lock
Owners: none

build(deps): bump sentry sdk version to 5.21.4 (#2077)
  package.json
  yarn.lock
Owners: none

ref: Disable likely broken feature in build
  package.json
Owners: none

added source codge mgmt and prject mgmt
  src/docs/product/integrations/index.mdx
Owners: none

added screenshot of release ui
  src/docs/product/releases/index.mdx
  src/docs/product/releases/release-ui.png
Owners: none

added deployment table
  src/docs/product/integrations/index.mdx
Owners: none

added data visualization
  src/docs/product/integrations/index.mdx
Owners: none

added screenshot of release ui (#2078)
  src/docs/product/releases/index.mdx
  src/docs/product/releases/release-ui.png
Owners: none

fix(connect): Minor edits to connect docs
  src/platforms/node/connect.mdx
Owners: @getsentry/team-webplatform

Remove version
  src/platforms/node/connect.mdx
Owners: @getsentry/team-webplatform

Remove version
  src/platforms/node/connect.mdx
Owners: @getsentry/team-webplatform

fix(connect): Minor edits to Connect docs (#2079)
  src/platforms/node/connect.mdx
Owners: @getsentry/team-webplatform

ref: Update babel-preset-gatsby
  package.json
  yarn.lock
Owners: none

ref: Update babel-preset-gatsby
  package.json
  yarn.lock
Owners: none

ref: Switch to babel-preset-gatsby
  .babelrc.js
  package.json
  yarn.lock
Owners: none

docs(vue): Update Vue wizard for tracing
  src/wizard/javascript/vue.md
Owners: none

Document prohibition of forward slashes in environment name
  src/docs/product/sentry-basics/environments/index.mdx
Owners: none

ref(wizard): Remove pinned versions
  src/platforms/node/express.mdx
  src/wizard/node/connect.md
  src/wizard/node/express.md
  src/wizard/node/index.md
Owners: @getsentry/team-webplatform

Remove pinning SDK to 0.16.2
  src/wizard/python/bottle.md
  src/wizard/python/falcon.md
  src/wizard/python/flask.md
  src/wizard/python/index.md
  src/wizard/python/tornado.md
Owners: none

Remove pinned version from electron
  src/wizard/electron/index.md
Owners: none

Remove pinning SDK to 0.16.2 (#2083)
  src/wizard/python/bottle.md
  src/wizard/python/falcon.md
  src/wizard/python/flask.md
  src/wizard/python/index.md
  src/wizard/python/tornado.md
Owners: none

Update basics.mdx
  src/platforms/javascript/common/config/basics.mdx
Owners: @getsentry/team-webplatform

ref(wizard): Remove pinned versions from node/electron (#2082)
  src/platforms/node/express.mdx
  src/wizard/electron/index.md
  src/wizard/node/connect.md
  src/wizard/node/express.md
  src/wizard/node/index.md
Owners: @getsentry/team-webplatform

Add transactions to Flask setup
  src/wizard/python/flask.md
Owners: none

Remove version pinning
  src/platforms/python/tornado.mdx
Owners: @getsentry/team-webplatform

fix: Correct platform title
  src/components/platformSidebar.tsx
Owners: none

Remove version pinning (#2086)
  src/platforms/python/tornado.mdx
Owners: @getsentry/team-webplatform

Document prohibition of forward slashes in environment name
  src/docs/product/sentry-basics/environments/index.mdx
Owners: none

Fix django whitespace
  src/wizard/python/django.md
Owners: none

Fix python whitespace
  src/wizard/python/index.md
Owners: none

Fix performance whitespace
  src/includes/performance-monitoring/configuration/python.mdx
Owners: none

feat: Overhaul Java documentation
  README.md
  src/platforms/android/index.mdx
  src/platforms/java/common/config.mdx
  src/platforms/java/guides/google-app-engine/index.mdx
  src/platforms/java/guides/log4j/index.mdx
  src/platforms/java/guides/log4j2/index.mdx
  src/platforms/java/guides/logback/index.mdx
  src/platforms/java/guides/logging/index.mdx
  src/platforms/java/guides/spring/index.mdx
  src/platforms/java/index.mdx
  src/platforms/java/usage.mdx
  src/utils/packageRegistry.js
  src/wizard/java/android.md
  src/wizard/java/appengine.md
  src/wizard/java/index.md
  src/wizard/java/log4j.md
  src/wizard/java/log4j2.md
  src/wizard/java/logback.md
  src/wizard/java/logging.md
Owners: @getsentry/team-mobile, @getsentry/team-webplatform
