Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

Update Gradle to use implementation over compile
  src/platforms/java/guides/google-app-engine/index.mdx
  src/platforms/java/guides/log4j/index.mdx
  src/platforms/java/guides/log4j2/index.mdx
  src/platforms/java/guides/logback/index.mdx
  src/platforms/java/guides/logging/index.mdx
  src/platforms/java/guides/spring/index.mdx
  src/platforms/java/usage.mdx
  src/wizard/java/appengine.md
  src/wizard/java/index.md
  src/wizard/java/log4j2.md
  src/wizard/java/logback.md
  src/wizard/java/logging.md
Owners: @getsentry/team-webplatform

Missing syntax
  src/platforms/java/common/config.mdx
Owners: @getsentry/team-webplatform

Tweak titles
  src/platforms/java/common/config.mdx
Owners: @getsentry/team-webplatform

Swap DSN
  src/platforms/java/guides/google-app-engine/index.mdx
Owners: @getsentry/team-webplatform

Revert DSN change and simplify examples
  src/platforms/java/common/config.mdx
  src/platforms/java/guides/google-app-engine/index.mdx
Owners: @getsentry/team-webplatform

More tweaks to dsn
  src/platforms/java/common/config.mdx
  src/platforms/java/common/migration.mdx
Owners: @getsentry/team-webplatform

added remaining tables
  src/docs/product/integrations/index.mdx
Owners: none

feat: Overhaul Java documentation (#2088)
  README.md
  src/platforms/android/index.mdx
  src/platforms/java/common/config.mdx
  src/platforms/java/common/migration.mdx
  src/platforms/java/guides/google-app-engine/index.mdx
  src/platforms/java/guides/log4j/index.mdx
  src/platforms/java/guides/log4j2/index.mdx
  src/platforms/java/guides/logback/index.mdx
  src/platforms/java/guides/logging/index.mdx
  src/platforms/java/guides/spring/index.mdx
  src/platforms/java/index.mdx
  src/platforms/java/usage.mdx
  src/utils/packageRegistry.js
  src/wizard/java/android.md
  src/wizard/java/appengine.md
  src/wizard/java/index.md
  src/wizard/java/log4j.md
  src/wizard/java/log4j2.md
  src/wizard/java/logback.md
  src/wizard/java/logging.md
Owners: @getsentry/team-mobile, @getsentry/team-webplatform

feat(js): Update basics.mdx (#2084)
  src/platforms/javascript/common/config/basics.mdx
Owners: @getsentry/team-webplatform

feat: improvements to code tabs
  .vscode/settings.json
  src/components/codeBlock.tsx
  src/css/_includes/code-blocks.scss
  src/platforms/javascript/common/config/sourcemaps.mdx
Owners: @getsentry/team-webplatform

feat: Overhaul Ruby docs
  src/platforms/ruby/common/breadcrumbs.mdx
  src/platforms/ruby/common/config.mdx
  src/platforms/ruby/common/context.mdx
  src/platforms/ruby/common/heroku.mdx
  src/platforms/ruby/common/integrations.mdx
  src/platforms/ruby/common/processors.mdx
  src/platforms/ruby/common/usage.mdx
  src/platforms/ruby/guides/puma/index.mdx
  src/platforms/ruby/guides/rack/index.mdx
  src/platforms/ruby/guides/rails/index.mdx
  src/platforms/ruby/index.mdx
  src/platforms/ruby/install.mdx
  src/platforms/ruby/integrations.mdx
  src/wizard/ruby/index.md
Owners: @getsentry/team-webplatform

feat: improvements to code tabs (#2090)
  .vscode/settings.json
  src/components/codeBlock.tsx
  src/css/_includes/code-blocks.scss
  src/platforms/javascript/common/config/sourcemaps.mdx
Owners: @getsentry/team-webplatform

feat: Overhaul Rust docs
  src/platforms/rust/guides/actix-web/index.mdx
  src/platforms/rust/index.mdx
Owners: @Swatinem

feat: Overhaul Ruby docs
  src/platforms/ruby/common/breadcrumbs.mdx
  src/platforms/ruby/common/config.mdx
  src/platforms/ruby/common/context.mdx
  src/platforms/ruby/common/heroku.mdx
  src/platforms/ruby/common/integrations.mdx
  src/platforms/ruby/common/processors.mdx
  src/platforms/ruby/common/usage.mdx
  src/platforms/ruby/guides/puma/index.mdx
  src/platforms/ruby/guides/rack/index.mdx
  src/platforms/ruby/guides/rails/index.mdx
  src/platforms/ruby/index.mdx
  src/platforms/ruby/install.mdx
  src/platforms/ruby/integrations.mdx
  src/wizard/ruby/index.md
Owners: @getsentry/team-webplatform

fix: Correct link to Rust docs
  src/wizard/rust/index.md
Owners: none

Apply suggestions from code review
  src/platforms/rust/guides/actix-web/index.mdx
  src/platforms/rust/index.mdx
Owners: @Swatinem

feat: Overhaul Rust docs (#2092)
  src/platforms/rust/guides/actix-web/index.mdx
  src/platforms/rust/index.mdx
Owners: @Swatinem

fix: Remove explicit sidebar order
  src/platforms/java/index.mdx
  src/platforms/perl/index.mdx
Owners: @getsentry/team-webplatform

updated with Fiona's suggestions
  src/docs/product/integrations/index.mdx
Owners: none

feat: Overhaul PHP docs
  src/platforms/php/common/breadcrumbs.mdx
  src/platforms/php/common/config.mdx
  src/platforms/php/common/context.mdx
  src/platforms/php/common/default-integrations.mdx
  src/platforms/php/common/filter-events.mdx
  src/platforms/php/common/releases.mdx
  src/platforms/php/common/transports.mdx
  src/platforms/php/guides/laravel/config.mdx
  src/platforms/php/guides/laravel/index.mdx
  src/platforms/php/guides/laravel/laravel4.mdx
  src/platforms/php/guides/laravel/lumen.mdx
  src/platforms/php/guides/symfony/config.mdx
  src/platforms/php/guides/symfony/index.mdx
  src/platforms/php/index.mdx
  src/wizard/php/index.md
  src/wizard/php/laravel.md
  src/wizard/php/symfony.md
Owners: @getsentry/team-webplatform

feat: Overhaul PHP docs
  src/platforms/php/common/breadcrumbs.mdx
  src/platforms/php/common/config.mdx
  src/platforms/php/common/context.mdx
  src/platforms/php/common/default-integrations.mdx
  src/platforms/php/common/filter-events.mdx
  src/platforms/php/common/releases.mdx
  src/platforms/php/common/transports.mdx
  src/platforms/php/guides/laravel/config.mdx
  src/platforms/php/guides/laravel/index.mdx
  src/platforms/php/guides/laravel/laravel4.mdx
  src/platforms/php/guides/laravel/lumen.mdx
  src/platforms/php/guides/symfony/config.mdx
  src/platforms/php/guides/symfony/index.mdx
  src/platforms/php/index.mdx
  src/wizard/php/index.md
  src/wizard/php/laravel.md
  src/wizard/php/symfony.md
Owners: @getsentry/team-webplatform

feat: Overhaul Node docs
  src/platforms/node/common/event-processors.mdx
  src/platforms/node/common/hints.mdx
  src/platforms/node/common/integrations/default-integrations.mdx
  src/platforms/node/common/integrations/index.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/common/sourcemaps.mdx
  src/platforms/node/common/typescript.mdx
  src/platforms/node/guides/aws-lambda/index.mdx
  src/platforms/node/guides/azure-functions/index.mdx
  src/platforms/node/guides/connect/index.mdx
  src/platforms/node/guides/express/express-data-filters.png
  src/platforms/node/guides/express/index.mdx
  src/platforms/node/guides/gcp-functions/index.mdx
  src/platforms/node/guides/koa/index.mdx
  src/platforms/node/index.mdx
  src/wizard/node/connect.md
  src/wizard/node/express.md
  src/wizard/node/index.md
  src/wizard/node/koa.md
Owners: @getsentry/team-webplatform

feat: Overhaul .NET (dotnet) docs
  src/platforms/dotnet/common/ignoring-exceptions.mdx
  src/platforms/dotnet/common/releases.mdx
  src/platforms/dotnet/common/unit-testing.mdx
  src/platforms/dotnet/guides/aspnetcore/index.mdx
  src/platforms/dotnet/guides/entityframework/index.mdx
  src/platforms/dotnet/guides/extensions-logging/index.mdx
  src/platforms/dotnet/guides/log4net/index.mdx
  src/platforms/dotnet/guides/log4net/log4net-sample.gif
  src/platforms/dotnet/guides/nlog/index.mdx
  src/platforms/dotnet/guides/serilog/index.mdx
  src/platforms/dotnet/guides/winforms/index.mdx
  src/platforms/dotnet/guides/wpf/index.mdx
  src/platforms/dotnet/index.mdx
  src/wizard/csharp/aspnetcore.md
  src/wizard/csharp/index.md
Owners: @bruno-garcia

feat: Overhaul Node docs
  src/platforms/node/common/event-processors.mdx
  src/platforms/node/common/hints.mdx
  src/platforms/node/common/integrations/default-integrations.mdx
  src/platforms/node/common/integrations/index.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/common/sourcemaps.mdx
  src/platforms/node/common/typescript.mdx
  src/platforms/node/guides/aws-lambda/index.mdx
  src/platforms/node/guides/azure-functions/index.mdx
  src/platforms/node/guides/connect/index.mdx
  src/platforms/node/guides/express/express-data-filters.png
  src/platforms/node/guides/express/index.mdx
  src/platforms/node/guides/gcp-functions/index.mdx
  src/platforms/node/guides/koa/index.mdx
  src/platforms/node/index.mdx
  src/wizard/node/connect.md
  src/wizard/node/express.md
  src/wizard/node/index.md
  src/wizard/node/koa.md
Owners: @getsentry/team-webplatform

Update: Integrations index/landing page (#2089)
  src/docs/product/integrations/index.mdx
Owners: none

feat: Overhaul .NET (dotnet) docs (#2095)
  src/platforms/dotnet/common/ignoring-exceptions.mdx
  src/platforms/dotnet/common/releases.mdx
  src/platforms/dotnet/common/unit-testing.mdx
  src/platforms/dotnet/guides/aspnetcore/index.mdx
  src/platforms/dotnet/guides/entityframework/index.mdx
  src/platforms/dotnet/guides/extensions-logging/index.mdx
  src/platforms/dotnet/guides/log4net/index.mdx
  src/platforms/dotnet/guides/log4net/log4net-sample.gif
  src/platforms/dotnet/guides/nlog/index.mdx
  src/platforms/dotnet/guides/serilog/index.mdx
  src/platforms/dotnet/guides/winforms/index.mdx
  src/platforms/dotnet/guides/wpf/index.mdx
  src/platforms/dotnet/index.mdx
  src/wizard/csharp/aspnetcore.md
  src/wizard/csharp/index.md
Owners: @bruno-garcia

feat: Overhaul Go docs
  src/platforms/go/common/config.mdx
  src/platforms/go/common/goroutines.mdx
  src/platforms/go/common/migration.mdx
  src/platforms/go/common/panics.mdx
  src/platforms/go/common/serverless.mdx
  src/platforms/go/common/transports.mdx
  src/platforms/go/guides/echo/index.mdx
  src/platforms/go/guides/fasthttp/index.mdx
  src/platforms/go/guides/gin/index.mdx
  src/platforms/go/guides/http/index.mdx
  src/platforms/go/guides/iris/index.mdx
  src/platforms/go/guides/martini/index.mdx
  src/platforms/go/guides/negroni/index.mdx
  src/platforms/go/index.mdx
  src/platforms/go/integrations.mdx
  src/wizard/go/index.md
Owners: @getsentry/team-webplatform

feat: Overhaul Go docs
  src/platforms/go/common/config.mdx
  src/platforms/go/common/goroutines.mdx
  src/platforms/go/common/migration.mdx
  src/platforms/go/common/panics.mdx
  src/platforms/go/common/serverless.mdx
  src/platforms/go/common/transports.mdx
  src/platforms/go/guides/echo/index.mdx
  src/platforms/go/guides/fasthttp/index.mdx
  src/platforms/go/guides/gin/index.mdx
  src/platforms/go/guides/http/index.mdx
  src/platforms/go/guides/iris/index.mdx
  src/platforms/go/guides/martini/index.mdx
  src/platforms/go/guides/negroni/index.mdx
  src/platforms/go/index.mdx
  src/platforms/go/integrations.mdx
  src/wizard/go/index.md
Owners: @getsentry/team-webplatform

Bump global search version
  package.json
  yarn.lock
Owners: none

Send platform list with docs
  src/utils/algolia.js
Owners: none

ref: Minor cleanup to Elixir
  src/platforms/elixir/index.mdx
  src/wizard/elixir/index.md
Owners: @getsentry/team-webplatform

add options to http integration, minor wordsmithing
  src/platforms/node/common/integrations/default-integrations.mdx
Owners: @getsentry/team-webplatform

feat: Overhaul RN docs
  src/platforms/react-native/advanced-setup.mdx
  src/platforms/react-native/cocoapods.mdx
  src/platforms/react-native/codepush.mdx
  src/platforms/react-native/expo.mdx
  src/platforms/react-native/hermes.mdx
  src/platforms/react-native/index.mdx
  src/platforms/react-native/migration.mdx
  src/platforms/react-native/ram-bundles.mdx
  src/platforms/react-native/sourcemaps.mdx
  src/platforms/react-native/touchevents.mdx
Owners: @getsentry/team-mobile

feat: Overhaul RN docs
  src/platforms/react-native/advanced-setup.mdx
  src/platforms/react-native/cocoapods.mdx
  src/platforms/react-native/codepush.mdx
  src/platforms/react-native/expo.mdx
  src/platforms/react-native/hermes.mdx
  src/platforms/react-native/index.mdx
  src/platforms/react-native/migration.mdx
  src/platforms/react-native/ram-bundles.mdx
  src/platforms/react-native/sourcemaps.mdx
  src/platforms/react-native/touchevents.mdx
Owners: @getsentry/team-mobile

ref: Remove useless async behavior on createPages
  src/gatsby/createPages/createApiPages.ts
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createWizardDebugPages.ts
Owners: none

Update Go and Ruby Getting Started pages
  src/platforms/go/index.mdx
  src/platforms/ruby/index.mdx
  src/platforms/ruby/install.mdx
Owners: @getsentry/team-webplatform

fix typos
  src/platforms/php/index.mdx
  src/platforms/ruby/index.mdx
Owners: @getsentry/team-webplatform

ref: Remove useless async behavior on createPages
  src/gatsby/createPages/createApiPages.ts
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createWizardDebugPages.ts
Owners: none

Minor fixes to Getting Started page (#2103)
  src/platforms/go/index.mdx
  src/platforms/php/index.mdx
  src/platforms/ruby/index.mdx
  src/platforms/ruby/install.mdx
Owners: @getsentry/team-webplatform

fix android version placeholder
  src/platforms/android/index.mdx
  src/wizard/java/android.md
Owners: @getsentry/team-mobile

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem
