Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem

added Teamwork to prjct mgmt table
  src/docs/product/integrations/index.mdx
Owners: none

Capitalize the S in JavaScript
  src/docs/product/performance/getting-started.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/wizard/javascript/angular.md
Owners: @getsentry/team-webplatform

Update gatsby-config.js
  gatsby-config.js
Owners: none

Capitalize the S in JavaScript (#2111)
  src/docs/product/performance/getting-started.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/wizard/javascript/angular.md
Owners: @getsentry/team-webplatform

removed org level and project level sections
  src/docs/product/integrations/index.mdx
Owners: none

cleaned up integrations landing page
  src/docs/product/integrations/index.mdx
Owners: none

Update gatsby-config.js (#2112)
  gatsby-config.js
Owners: none

updated Teamwork description
  src/docs/product/integrations/teamwork/index.mdx
Owners: none

fix android version placeholder
  src/platforms/android/index.mdx
  src/wizard/java/android.md
Owners: @getsentry/team-mobile

fix version placeholder
  src/platforms/android/index.mdx
  src/wizard/java/android.md
Owners: @getsentry/team-mobile

rollback expressions
  src/platforms/android/index.mdx
  src/platforms/android/timber.mdx
  src/wizard/java/android.md
Owners: @getsentry/team-mobile

add placeholder to android-core module
  src/platforms/android/index.mdx
Owners: @getsentry/team-mobile

add placeholder to timber
  src/platforms/android/timber.mdx
Owners: @getsentry/team-mobile

Apply suggestions from code review
  src/wizard/javascript/vue.md
Owners: none

docs(vue): Update Vue wizard for tracing (#2080)
  src/wizard/javascript/vue.md
Owners: none

fix: href -> to
  src/platforms/index.mdx
Owners: @getsentry/team-webplatform

fix: SmartLink -> Link
  src/platforms/index.mdx
Owners: @getsentry/team-webplatform

Bump global docs version
  package.json
  yarn.lock
Owners: none

Add PagerDuty to list of avaiable metric alert actions (#2068)
  src/docs/product/alerts-notifications/alerts.mdx
Owners: none

update native links
  src/platforms/native/index.mdx
Owners: @getsentry/owners-native

update native links (#2113)
  src/platforms/native/index.mdx
Owners: @getsentry/owners-native

Add: New doc for Linear integration (#2110)
  src/docs/product/integrations/index.mdx
  src/docs/product/integrations/linear/index.mdx
  src/docs/product/integrations/linear/linear-install-pg.png
  src/docs/product/integrations/teamwork/index.mdx
  src/docs/product/integrations/teamwork/teamwork.png
Owners: none

Pass platform and path into the search
  src/components/basePage.tsx
  src/components/layout.tsx
  src/components/navbar.tsx
  src/components/search.tsx
Owners: none

fix: infinite redirect
  src/platforms/go/guides/http/index.mdx
Owners: @getsentry/team-webplatform

feat: Add tracing to angular wizard
  src/wizard/javascript/angular.md
Owners: none

docs: Clarify session modes and give SDK suggestions (#113)
  develop-docs/sdk/sessions.mdx
Owners: none

fix: Use proper headers instead of bold text (#2073)
  src/includes/performance-monitoring/configuration/javascript.mdx
Owners: none

fix: checkout -> check out
  src/docs/accounts/quotas/manage-event-stream-guide.mdx
  src/docs/clients/cocoa/migration.mdx
  src/docs/clients/javascript/integrations.mdx
  src/docs/clients/javascript/tips.mdx
  src/docs/clients/javascript/usage.mdx
  src/docs/product/sentry-basics/guides/getting-started/index.mdx
Owners: none

fix: Replace non-inclusive language
  src/platforms/javascript/common/integrations/default.mdx
Owners: @getsentry/team-webplatform

fix: behaviour => behavior
  src/docs/clients/csharp/index.mdx
  src/docs/clients/javascript/usage.mdx
  src/platforms/elixir/config.mdx
  src/platforms/elixir/index.mdx
  src/platforms/elixir/usage.mdx
  src/platforms/java/common/config.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/wizard/javascript/angular.md
Owners: @getsentry/team-webplatform

feat: Add sentence about sample rate
  src/wizard/javascript/angular.md
Owners: none

fix: behaviour => behavior (#2070)
  src/docs/clients/csharp/index.mdx
  src/docs/clients/javascript/usage.mdx
  src/platforms/elixir/config.mdx
  src/platforms/elixir/index.mdx
  src/platforms/elixir/usage.mdx
  src/platforms/java/common/config.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/wizard/javascript/angular.md
Owners: @getsentry/team-webplatform

fix: Replace non-inclusive language (#2117)
  src/platforms/javascript/common/integrations/default.mdx
Owners: @getsentry/team-webplatform

feat: Add tracing to angular wizard (#2115)
  src/wizard/javascript/angular.md
Owners: none

fix: Remove span.transaction from API docs (#117)
  develop-docs/sdk/event-payloads/properties/status.mdx
  develop-docs/sdk/event-payloads/properties/transaction.mdx
  develop-docs/sdk/event-payloads/span.mdx
Owners: none

ref: Collapse formatting
  src/data/platforms.yml
Owners: none

add missing header
  src/platforms/javascript/common/integrations/default.mdx
Owners: @getsentry/team-webplatform

feat: New Platform Portals
  package.json
  src/components/breadcrumbs.tsx
  src/components/layout.tsx
  src/components/platformSelector.tsx
  yarn.lock
Owners: none

add missing note to guide
  src/docs/accounts/quotas/manage-event-stream-guide.mdx
Owners: none

add missing header (#2118)
  src/platforms/javascript/common/integrations/default.mdx
Owners: @getsentry/team-webplatform
