Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

ref(breadcrumbs): Improve crumbs docs (#2067)
  src/docs/enriching-error-data/breadcrumbs.mdx
  src/docs/enriching-error-data/breadcrumbs/index.mdx
  src/docs/product/error-monitoring/breadcrumbs/crumb-section.png
  src/docs/product/error-monitoring/breadcrumbs/filter-by.png
  src/docs/product/error-monitoring/breadcrumbs/index.mdx
  src/docs/product/error-monitoring/breadcrumbs/toggle-time-btn.png
  src/docs/product/error-monitoring/index.mdx
  src/platforms/javascript/common/errors/breadcrumbs.mdx
  src/platforms/javascript/common/errors/breadcrumbs/index.mdx
  src/platforms/javascript/common/errors/breadcrumbs/toggle-time-btn.png
Owners: @getsentry/team-webplatform

fix: Transactions have spans (#2072)
  src/includes/performance-monitoring/configuration/koa.mdx
Owners: none

fix version placeholder
  src/platforms/android/index.mdx
  src/wizard/java/android.md
Owners: @getsentry/team-mobile

add placeholder to android-core module
  src/platforms/android/index.mdx
Owners: @getsentry/team-mobile

add placeholder to timber
  src/platforms/android/timber.mdx
Owners: @getsentry/team-mobile

rollback expressions
  src/platforms/android/index.mdx
  src/platforms/android/timber.mdx
  src/wizard/java/android.md
Owners: @getsentry/team-mobile

fix environment variable name
  src/platforms/javascript/common/config/basics.mdx
Owners: @getsentry/team-webplatform

clarify instructions for disabling individual integrations
  src/platforms/node/common/integrations/default-integrations.mdx
Owners: @getsentry/team-webplatform

add missing "about"
  src/platforms/javascript/common/config/basics.mdx
Owners: @getsentry/team-webplatform

Add transactions to Flask setup (#2085)
  src/wizard/python/flask.md
Owners: none

feat: Overhaul native docs
  src/platforms/native/advanced-config.mdx
  src/platforms/native/attachments.mdx
  src/platforms/native/backends/crashpad.mdx
  src/platforms/native/backends/index.mdx
  src/platforms/native/breadcrumbs.mdx
  src/platforms/native/common/debug-information.mdx
  src/platforms/native/context.mdx
  src/platforms/native/filter-events.mdx
  src/platforms/native/guides/breakpad/index.mdx
  src/platforms/native/guides/crashpad/index.mdx
  src/platforms/native/guides/minidumps/index.mdx
  src/platforms/native/guides/ue4/index.mdx
  src/platforms/native/guides/ue4/ue4-crash-reporter.png
  src/platforms/native/guides/ue4/ue4-include-crash-reporter.png
  src/platforms/native/guides/ue4/ue4-include-debug-files.png
  src/platforms/native/index.mdx
  src/platforms/native/release-health.mdx
  src/platforms/native/transports.mdx
  src/wizard/native/index.md
Owners: @getsentry/owners-native

feat: Overhaul native docs
  src/platforms/native/advanced-config.mdx
  src/platforms/native/attachments.mdx
  src/platforms/native/backends/crashpad.mdx
  src/platforms/native/backends/index.mdx
  src/platforms/native/breadcrumbs.mdx
  src/platforms/native/common/debug-information.mdx
  src/platforms/native/context.mdx
  src/platforms/native/filter-events.mdx
  src/platforms/native/guides/breakpad/index.mdx
  src/platforms/native/guides/crashpad/index.mdx
  src/platforms/native/guides/minidumps/index.mdx
  src/platforms/native/guides/ue4/index.mdx
  src/platforms/native/guides/ue4/ue4-crash-reporter.png
  src/platforms/native/guides/ue4/ue4-include-crash-reporter.png
  src/platforms/native/guides/ue4/ue4-include-debug-files.png
  src/platforms/native/index.mdx
  src/platforms/native/release-health.mdx
  src/platforms/native/transports.mdx
  src/wizard/native/index.md
Owners: @getsentry/owners-native

ref(node): Small tweaks to Default Integrations page (#2100)
  src/platforms/node/common/integrations/default-integrations.mdx
Owners: @getsentry/team-webplatform

fix(js): Fix environment variable name (#2106)
  src/platforms/javascript/common/config/basics.mdx
Owners: @getsentry/team-webplatform

store full platform family
  src/utils/algolia.js
Owners: none

Store full path tree
  src/utils/algolia.js
Owners: none

track legacy status
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createPlatformPages.ts
  src/utils/algolia.js
Owners: none

update algolia settings
  src/utils/algolia.js
Owners: none

clean up JS intgrations and intro lang
  src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/guides/electron/index.mdx
  src/platforms/javascript/guides/gatsby/index.mdx
  src/platforms/javascript/guides/react/index.mdx
  src/platforms/node/common/integrations/index.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/guides/express/index.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/common/integrations/plugin.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/common/integrations/plugin.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/common/integrations/plugin.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/common/integrations/plugin.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/common/integrations/plugin.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
Owners: @getsentry/team-webplatform

Update src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
Owners: @getsentry/team-webplatform

Fix express spacing
  src/platforms/node/guides/express/index.mdx
Owners: @getsentry/team-webplatform

feat: Restore platform index
  src/gatsby/createPages/createPlatformPages.ts
Owners: none

Clean up JS integrations code samples and intro lang (#2107)
  src/platforms/javascript/common/integrations/plugin.mdx
  src/platforms/javascript/guides/electron/index.mdx
  src/platforms/javascript/guides/gatsby/index.mdx
  src/platforms/javascript/guides/react/index.mdx
  src/platforms/node/common/integrations/index.mdx
  src/platforms/node/common/integrations/pluggable-integrations.mdx
  src/platforms/node/guides/express/index.mdx
Owners: @getsentry/team-webplatform

feat: Restore platform index
  src/gatsby/createPages/createPlatformPages.ts
Owners: none

fix: Correct HTML for platforms index to be MDX
  src/platforms/index.mdx
Owners: @getsentry/team-webplatform

Feat (www): add platforms, path, and legacy to Algolia records (#2098)
  package.json
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createPlatformPages.ts
  src/utils/algolia.js
  yarn.lock
Owners: none

fix broken smart link
  src/platforms/index.mdx
Owners: @getsentry/team-webplatform

initial commit
  src/docs/product/integrations/linear/index.mdx
  src/docs/product/integrations/linear/linear-install-pg.png
Owners: none

fixed navigation path
  src/docs/product/integrations/linear/index.mdx
Owners: none

added to integrations landing page tables
  src/docs/product/integrations/index.mdx
Owners: none

fix broken smart link
  src/platforms/index.mdx
Owners: @getsentry/team-webplatform

added new page for teamwork integration
  src/docs/product/integrations/teamwork/index.mdx
  src/docs/product/integrations/teamwork/teamwork.png
Owners: none

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem
