Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

Add support for categories
  plugins/gatsby-redirects/gatsby-node.js
  src/gatsby/createSchemaCustomization/platformSchema.ts
  src/gatsby/sourceNodes/platformNodes.ts
  src/platforms/cocoa/index.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/platforms/javascript/guides/cordova/index.mdx
  src/platforms/javascript/guides/electron/index.mdx
  src/platforms/javascript/index.mdx
  src/platforms/react-native/index.mdx
Owners: @getsentry/team-mobile, @getsentry/team-webplatform

debug -> verbose
  plugins/gatsby-redirects/gatsby-node.js
Owners: none

Switch to reporter apis
  src/gatsby/createPages/createPlatformPages.ts
Owners: none

Fill in some missing casing
  src/components/hooks/usePlatform.tsx
  src/gatsby/createSchemaCustomization/platformSchema.ts
  src/platforms/dotnet/index.mdx
  src/platforms/elixir/index.mdx
  src/platforms/go/index.mdx
  src/platforms/java/index.mdx
  src/platforms/perl/index.mdx
  src/platforms/react-native/index.mdx
  src/platforms/rust/index.mdx
Owners: @bruno-garcia, @getsentry/team-webplatform, @getsentry/team-mobile, @Swatinem

add yarn clean
  package.json
Owners: none

rm package-lock.json
  package-lock.json
Owners: none

Fix core platform matching on key
  src/components/platformContent.tsx
Owners: none

Improve configuration by introducing PlatformSection for hiding bulk content
  src/components/configKey.tsx
  src/components/markdown.tsx
  src/components/platformSection.tsx
  src/platforms/common/configuration/index.mdx
Owners: @getsentry/team-webplatform

Update readme for latest platform hooks
  README.md
Owners: none

Improve readme examples
  README.md
Owners: none

Disable enum usage as its incorrect (as it comes from graphql)
  src/components/hooks/usePlatform.tsx
Owners: none

remove console statements
  src/components/hooks/usePlatform.tsx
Owners: none

minor level of cleanup
  src/gatsby/createPages/createPlatformPages.ts
  src/gatsby/sourceNodes/platformNodes.ts
Owners: none

move common content out of JS
  src/platforms/common/enriching-error-data/additional-data/index.mdx
  src/platforms/common/enriching-error-data/breadcrumbs/index.mdx
  src/platforms/common/enriching-error-data/capture.mdx
  src/platforms/common/enriching-error-data/user-feedback.mdx
  src/platforms/javascript/common/errors/additional_data.png
  src/platforms/javascript/common/errors/breadcrumbs/index.mdx
  src/platforms/javascript/common/errors/breadcrumbs/toggle-time-btn.png
  src/platforms/javascript/common/errors/context.mdx
  src/platforms/javascript/common/errors/feedback.mdx
  src/platforms/javascript/common/errors/index.mdx
  src/platforms/javascript/common/errors/predefined_contexts.png
  src/platforms/javascript/common/errors/tags.png
  src/platforms/javascript/common/errors/user_feedback_widget.png
Owners: @getsentry/team-webplatform

changing to lighter colors, finishing transitions and hovers
  src/css/_includes/index.scss
  src/logos/sentry-wordmark-dark.svg
  src/pages/apple-black.svg
  src/pages/dot-net-core-7.svg
  src/pages/go-6.svg
  src/pages/index-hero-bg.png
  src/pages/index-new.js
  src/pages/java-14.svg
  src/pages/javascript.svg
  src/pages/laravel-2.svg
  src/pages/nodejs-icon.svg
  src/pages/php-1.svg
  src/pages/python-5.svg
  src/pages/react.svg
  src/pages/swift-15.svg
  src/pages/symfony.svg
Owners: none

finished responsive stuff, could be rigged up at this point
  src/css/_includes/index.scss
Owners: none

ref to make page queries
  plugins/gatsby-plugin-openapi/gatsby-node.js
  src/gatsby/createPages/createDevelopmentApiPages.ts
  src/templates/developmentAPI.js
Owners: none

mv robots.txt to static folder
  static/robots.txt
Owners: none

Remove reference to legacy
  src/gatsby/createPages/createPlatformPages.ts
Owners: none

Switch to new index
  gatsby-config.js
  package.json
  src/docs/index.md
  src/pages/index.js
  yarn.lock
Owners: none

Fix title for home link
  src/components/breadcrumbs.tsx
  src/pages/index.js
Owners: none

move JS config into common
  src/includes/configuration/before-send-fingerprint/javascript.mdx
  src/includes/configuration/before-send/javascript.mdx
  src/includes/configuration/decluttering/javascript.mdx
  src/includes/configuration/sample-rate/javascript.mdx
  src/platforms/common/configuration/builtin-inbound-filters.png
  src/platforms/common/configuration/filtering.mdx
  src/platforms/common/configuration/index.mdx
  src/platforms/common/configuration/stacktrace-with-sourcemaps.png
  src/platforms/common/configuration/stacktrace-without-sourcemaps.png
  src/platforms/javascript/common/config/basics.mdx
  src/platforms/javascript/common/config/filter.mdx
  src/platforms/javascript/common/config/index.mdx
  src/platforms/javascript/common/config/shutdown-drain.mdx
Owners: @getsentry/team-webplatform

Add performance to node.js docs
  src/wizard/node/index.md
Owners: none

configuration changes to avoid redundancy
  src/platforms/common/configuration/filtering.mdx
  src/platforms/common/configuration/index.mdx
  src/platforms/javascript/common/config/index.mdx
Owners: @getsentry/team-webplatform

Various improvements to index
  src/css/_includes/index.scss
  src/pages/index.tsx
Owners: none

Various fixes
  src/platforms/common/configuration/draining.mdx
  src/platforms/common/configuration/filtering.mdx
  src/platforms/common/configuration/index.mdx
Owners: @getsentry/team-webplatform

Update Pyramid example to have a running example of Errors and Performance
  src/wizard/python/pyramid.md
Owners: none

Add line about configuring traces_sample_rate
  src/wizard/python/pyramid.md
Owners: none

Update express docs to support performance
  src/wizard/node/express.md
Owners: none

Add links to index page
  src/pages/index.tsx
Owners: none

ref(crumbs): Improve crumbs doc (#114)
  develop-docs/sdk/event-payloads/breadcrumbs.mdx
Owners: none

ref(bredcrumbs): Adjust file structure
  src/docs/enriching-error-data/breadcrumbs.mdx
  src/platforms/javascript/common/errors/breadcrumbs.mdx
  src/platforms/javascript/common/errors/breadcrumbs/toggle-time-btn.png
Owners: @getsentry/team-webplatform

ref(bredcrumbs): Adjust file structure (#2143)
  src/docs/enriching-error-data/breadcrumbs.mdx
  src/platforms/javascript/common/errors/breadcrumbs.mdx
  src/platforms/javascript/common/errors/breadcrumbs/toggle-time-btn.png
Owners: @getsentry/team-webplatform

fix: /platform/ -> /platforms/ (#2132)
  src/platforms/java/index.mdx
  src/platforms/ruby/index.mdx
  src/wizard/ruby/index.md
  src/wizard/ruby/rack.md
  src/wizard/ruby/rails.md
Owners: @getsentry/team-webplatform

Formatting change in metrics.mdx
  src/docs/product/performance/metrics.mdx
Owners: none

fix: checkout -> check out (#2116)
  src/docs/accounts/quotas/manage-event-stream-guide.mdx
  src/docs/clients/cocoa/migration.mdx
  src/docs/clients/javascript/integrations.mdx
  src/docs/clients/javascript/tips.mdx
  src/docs/clients/javascript/usage.mdx
  src/docs/product/sentry-basics/guides/getting-started/index.mdx
Owners: none

fix: Replace non-inclusive language
  src/docs/clients/javascript/tips.mdx
  src/docs/clients/javascript/usage.mdx
  src/docs/clients/node/config.mdx
  src/platforms/ruby/common/config.mdx
Owners: @getsentry/team-webplatform

feat: Add list of used ports in sentry dev env (#122)
  develop-docs/services/ports.mdx
Owners: none

fix: Several small language changes
  src/docs/accounts/quotas/manage-event-stream-guide.mdx
  src/docs/clients/cocoa/migration.mdx
  src/docs/clients/javascript/index.mdx
  src/docs/clients/javascript/integrations.mdx
Owners: none

fix: Replace non-inclusive language (#2145)
  src/docs/clients/javascript/tips.mdx
  src/docs/clients/javascript/usage.mdx
  src/docs/clients/node/config.mdx
  src/platforms/ruby/common/config.mdx
Owners: @getsentry/team-webplatform

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem
