Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-webplatform, @getsentry/team-mobile, @bruno-garcia, @getsentry/owners-native, @Swatinem

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/ @getsentry/team-webplatform

/src/platforms/android/ @getsentry/team-mobile
/src/platforms/cocoa/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia

/src/platforms/native/ @getsentry/owners-native

/src/platforms/rust/ @Swatinem

ref: Remove not needed scripts
  README.md
  package.json
  scripts/sdk-symlink
Owners: none

Fix SentrySdk.Init link in WPF documentation
  src/platforms/dotnet/wpf.mdx
Owners: @bruno-garcia

Feat/gcp python integration (#2053)
  src/platforms/python/gcp_functions.mdx
  src/wizard/python/pythongcpfunctions.md
Owners: @getsentry/team-webplatform

Clarify WPF initialization instructions
  src/platforms/dotnet/wpf.mdx
Owners: @bruno-garcia

Update CSP and enable blocking
  nginx.conf
  vercel.json
Owners: none

feat: Add remaining support for Vercel
  nginx.conf
  src/docs/product/sentry-basics/guides/alert-notifications/index.mdx
  src/docs/product/sentry-basics/guides/discover/index.mdx
  src/docs/product/sentry-basics/guides/enrich-data/index.mdx
  src/docs/product/sentry-basics/guides/getting-started/index.mdx
  src/docs/product/sentry-basics/guides/grouping-and-fingerprints/index.mdx
  src/docs/product/sentry-basics/guides/index.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/index.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/index.mdx
  src/docs/product/sentry-basics/guides/migration/index.mdx
  src/platforms/go/http.mdx
  src/platforms/go/integrations.mdx
  src/platforms/javascript/common/config/sourcemaps.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/platforms/javascript/guides/angular/integrations/angular1.mdx
  src/platforms/javascript/guides/ember/index.mdx
  src/platforms/javascript/guides/react/index.mdx
  src/platforms/javascript/guides/vue/index.mdx
  src/platforms/node/connect.mdx
  src/platforms/node/express.mdx
  src/platforms/node/koa.mdx
  src/platforms/php/laravel.mdx
  src/platforms/php/symfony.mdx
  src/platforms/python/aws_lambda.mdx
  src/platforms/python/bottle.mdx
  src/platforms/python/celery.mdx
  src/platforms/python/django.mdx
  src/platforms/python/flask.mdx
  src/platforms/python/logging.mdx
  src/platforms/python/pyramid.mdx
  src/platforms/python/rq.mdx
  src/platforms/python/tornado.mdx
  src/platforms/python/troubleshooting.mdx
  src/platforms/python/wsgi.mdx
  src/platforms/react-native/index.mdx
  vercel.json
Owners: @getsentry/team-webplatform, @getsentry/team-mobile

feat: Add remaining support for Vercel
  nginx.conf
  src/docs/product/sentry-basics/guides/alert-notifications/index.mdx
  src/docs/product/sentry-basics/guides/discover/index.mdx
  src/docs/product/sentry-basics/guides/enrich-data/index.mdx
  src/docs/product/sentry-basics/guides/getting-started/index.mdx
  src/docs/product/sentry-basics/guides/grouping-and-fingerprints/index.mdx
  src/docs/product/sentry-basics/guides/index.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/index.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/index.mdx
  src/docs/product/sentry-basics/guides/migration/index.mdx
  src/platforms/go/http.mdx
  src/platforms/go/integrations.mdx
  src/platforms/javascript/common/config/sourcemaps.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/platforms/javascript/guides/angular/integrations/angular1.mdx
  src/platforms/javascript/guides/ember/index.mdx
  src/platforms/javascript/guides/react/index.mdx
  src/platforms/javascript/guides/vue/index.mdx
  src/platforms/node/connect.mdx
  src/platforms/node/express.mdx
  src/platforms/node/koa.mdx
  src/platforms/php/laravel.mdx
  src/platforms/php/symfony.mdx
  src/platforms/python/aws_lambda.mdx
  src/platforms/python/bottle.mdx
  src/platforms/python/celery.mdx
  src/platforms/python/django.mdx
  src/platforms/python/flask.mdx
  src/platforms/python/logging.mdx
  src/platforms/python/pyramid.mdx
  src/platforms/python/rq.mdx
  src/platforms/python/tornado.mdx
  src/platforms/python/troubleshooting.mdx
  src/platforms/python/wsgi.mdx
  src/platforms/react-native/index.mdx
  vercel.json
Owners: @getsentry/team-webplatform, @getsentry/team-mobile

Update CSP and enable blocking
  nginx.conf
  vercel.json
Owners: none

feat: Add React Router docs (#2024)
  src/platforms/javascript/guides/react/components/profiler.mdx
  src/platforms/javascript/guides/react/index.mdx
  src/platforms/javascript/guides/react/integrations/index.mdx
  src/platforms/javascript/guides/react/integrations/react-router.mdx
Owners: @getsentry/team-webplatform

fix: Angular nits
  src/platforms/javascript/guides/angular/angular1.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/platforms/javascript/guides/angular/integrations/index.mdx
Owners: @getsentry/team-webplatform

ref: Remove not needed scripts (#2063)
  README.md
  package.json
  scripts/sdk-symlink
Owners: none

fix: Angular nits (#2064)
  src/platforms/javascript/guides/angular/angular1.mdx
  src/platforms/javascript/guides/angular/index.mdx
  src/platforms/javascript/guides/angular/integrations/index.mdx
Owners: @getsentry/team-webplatform

Fix SentrySdk.Init link in WPF documentation (#2060)
  src/platforms/dotnet/wpf.mdx
Owners: @bruno-garcia

Use 'Important' instead of 'Note' for the alert box title
  src/platforms/dotnet/wpf.mdx
Owners: @bruno-garcia

feat(search): Boost some stuff
  src/components/navbar.js
  src/components/search/index.js
Owners: none

prettier
  src/components/navbar.js
  src/components/search/index.js
Owners: none

new frontmatter (#2058)
  src/docs/product/sentry-basics/guides/alert-notifications/creating-custom-rules.mdx
  src/docs/product/sentry-basics/guides/alert-notifications/routing-alerts.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/capturing-errors.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/configuration-options.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/getting-started.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/configure-scms.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/create-new-project.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/generate-first-error.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/initialize-sentry-sdk.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/upload-source-maps.mdx
Owners: none

feat: Add ability to debug wizard pages in dev mode
  src/components/basePage.js
  src/components/dynamicNav.tsx
  src/components/sidebar.js
  src/gatsby/createPages.ts
  src/gatsby/createPages/createApiPages.ts
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createPlatformPages.ts
  src/gatsby/createPages/createWizardDebugPages.ts
  src/gatsby/createPages/helpers.ts
  src/gatsby/createPages/index.ts
  src/templates/api.js
  src/templates/doc.js
  src/templates/platform.js
  src/templates/wizardDebug.js
  src/templates/wizardDebugIndex.js
Owners: none

fix: Clean up various warnings on syntax highlighter
  src/docs/clients/javascript/install.mdx
  src/docs/clients/javascript/integrations.mdx
  src/docs/clients/javascript/tips.mdx
  src/docs/clients/javascript/usage.mdx
  src/docs/clients/python/integrations.mdx
  src/docs/clients/react-native/manual-setup.mdx
  src/docs/clients/react-native/ram-bundles.mdx
  src/docs/meta/ip-ranges.mdx
  src/platforms/dotnet/aspnetcore.mdx
  src/platforms/dotnet/entityframework.mdx
  src/platforms/dotnet/microsoft-extensions-logging.mdx
  src/platforms/dotnet/nlog.mdx
  src/platforms/dotnet/serilog.mdx
  src/platforms/go/fasthttp.mdx
  src/platforms/javascript/common/config/sourcemaps.mdx
  src/platforms/javascript/guides/electron/index.mdx
  src/platforms/native/index.mdx
  src/platforms/php/laravel.mdx
  src/platforms/react-native/manual-setup.mdx
  src/platforms/react-native/ram-bundles.mdx
  src/wizard/csharp/index.md
  src/wizard/javascript/angularjs.md
  src/wizard/php/laravel.md
Owners: @bruno-garcia, @getsentry/team-webplatform, @getsentry/owners-native, @getsentry/team-mobile

feat: Add ability to debug wizard pages in dev mode
  src/components/basePage.js
  src/components/dynamicNav.tsx
  src/components/sidebar.js
  src/gatsby/createPages.ts
  src/gatsby/createPages/createApiPages.ts
  src/gatsby/createPages/createDocPages.ts
  src/gatsby/createPages/createPlatformPages.ts
  src/gatsby/createPages/createWizardDebugPages.ts
  src/gatsby/createPages/helpers.ts
  src/gatsby/createPages/index.ts
  src/templates/api.js
  src/templates/doc.js
  src/templates/platform.js
  src/templates/wizardDebug.js
  src/templates/wizardDebugIndex.js
Owners: none

fix: Clean up various warnings on syntax highlighter
  src/docs/clients/javascript/install.mdx
  src/docs/clients/javascript/integrations.mdx
  src/docs/clients/javascript/tips.mdx
  src/docs/clients/javascript/usage.mdx
  src/docs/clients/python/integrations.mdx
  src/docs/clients/react-native/manual-setup.mdx
  src/docs/clients/react-native/ram-bundles.mdx
  src/docs/meta/ip-ranges.mdx
  src/platforms/dotnet/aspnetcore.mdx
  src/platforms/dotnet/entityframework.mdx
  src/platforms/dotnet/microsoft-extensions-logging.mdx
  src/platforms/dotnet/nlog.mdx
  src/platforms/dotnet/serilog.mdx
  src/platforms/go/fasthttp.mdx
  src/platforms/javascript/common/config/sourcemaps.mdx
  src/platforms/javascript/guides/electron/index.mdx
  src/platforms/native/index.mdx
  src/platforms/php/laravel.mdx
  src/platforms/react-native/manual-setup.mdx
  src/platforms/react-native/ram-bundles.mdx
  src/wizard/csharp/index.md
  src/wizard/javascript/angularjs.md
  src/wizard/php/laravel.md
Owners: @bruno-garcia, @getsentry/team-webplatform, @getsentry/owners-native, @getsentry/team-mobile

Sanitize hits
  package.json
  src/components/search.js
  yarn.lock
Owners: none

Add PagerDuty to list of avaiable metric alert actions
  src/docs/product/alerts-notifications/alerts.mdx
Owners: none

ref(onpremise): Point people to the latest release
  src/docs/index.md
Owners: none

Update the sidebar too
  src/components/sidebar.js
Owners: none

ref(breadcrumbs): Improve crumbs docs
  src/docs/enriching-error-data/breadcrumbs.mdx
  src/docs/enriching-error-data/breadcrumbs/crumb-section.png
  src/docs/enriching-error-data/breadcrumbs/filter-by.png
  src/docs/enriching-error-data/breadcrumbs/index.mdx
  src/docs/enriching-error-data/breadcrumbs/toggle-time-btn.png
  src/platforms/javascript/common/errors/breadcrumbs.mdx
  src/platforms/javascript/common/errors/breadcrumbs/index.mdx
  src/platforms/javascript/common/errors/breadcrumbs/toggle-time-btn.png
Owners: @getsentry/team-webplatform

fix: Transactions have spans
  src/includes/performance-monitoring/configuration/koa.mdx
Owners: none

fix: Use proper headers instead of bold text
  src/includes/performance-monitoring/configuration/javascript.mdx
Owners: none

Feat: Global Algolia Search (#2036)
  package.json
  src/components/logo.js
  src/components/navbar.js
  src/components/search.js
  src/components/search/hitComps.js
  src/components/search/index.js
  src/components/search/input.js
  src/css/_includes/global-header.scss
  src/css/_includes/loader.scss
  src/css/_includes/search.scss
  src/css/_includes/variables.scss
  yarn.lock
Owners: none

add redirects to frontmatter for tutorials
  src/docs/product/sentry-basics/guides/integrate-backend/capturing-errors.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/configuration-options.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/getting-started.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/configure-scms.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/create-new-project.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/generate-first-error.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/initialize-sentry-sdk.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/upload-source-maps.mdx
Owners: none

add redirects to frontmatter for tutorials (#2074)
  src/docs/product/sentry-basics/guides/integrate-backend/capturing-errors.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/configuration-options.mdx
  src/docs/product/sentry-basics/guides/integrate-backend/getting-started.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/configure-scms.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/create-new-project.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/generate-first-error.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/initialize-sentry-sdk.mdx
  src/docs/product/sentry-basics/guides/integrate-frontend/upload-source-maps.mdx
Owners: none

feat: reset offsite search when the search result modal is dismissed
  src/components/search.js
Owners: none

:sparkles: clarity :sparkles:
  src/docs/index.md
Owners: none

ref(onpremise): Point people to the latest release (#2069)
  src/components/sidebar.js
  src/docs/index.md
Owners: none

update from Collen's comments
  src/docs/product/integrations/msteams/index.mdx
Owners: none

ref: Upgrade several components to typescript
  .babelrc.js
  jest-transformer.js
  jest.config.js
  package.json
  src/components/basePage.tsx
  src/components/breadcrumbs.js
  src/components/breadcrumbs.tsx
  src/components/codeBlock.tsx
  src/components/codeContext.tsx
  src/components/codeTabs.tsx
  src/components/configKey.tsx
  src/components/dynamicNav.tsx
  src/components/guideGrid.js
  src/components/guideGrid.tsx
  src/components/header.tsx
  src/components/jsCdnTag.tsx
  src/components/layout.js
  src/components/layout.tsx
  src/components/logo.tsx
  src/components/navbar.tsx
  src/components/platformContent.js
  src/components/platformContent.tsx
  src/components/platformSidebar.js
  src/components/platformSidebar.tsx
  src/components/search.tsx
  src/components/seo.js
  src/components/seo.tsx
  src/components/sidebar.js
  src/components/sidebar.tsx
  src/components/smartLink.tsx
  src/components/tableOfContents.tsx
  src/platforms/javascript/guides/angular/components/index.mdx
  src/utils.ts
  src/wizard/flutter/index.md
  src/wizard/javascript/angular.md
  src/wizard/python/pythongcpfunctions.md
  yarn.lock
Owners: @getsentry/team-webplatform

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none

Update src/docs/product/integrations/msteams/index.mdx
  src/docs/product/integrations/msteams/index.mdx
Owners: none
