Repository getsentry/sentry-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/team-mobile, @bruno-garcia, @marandaneto, @getsentry/owners-native, @getsentry/team-webplatform, @getsentry/visibility, @kamilogorek

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/src/platforms/android/ @getsentry/team-mobile
/src/wizard/android/ @getsentry/team-mobile
/src/platforms/apple/ @getsentry/team-mobile
/src/wizard/apple/ @getsentry/team-mobile
/src/platforms/flutter/ @getsentry/team-mobile
/src/wizard/flutter/ @getsentry/team-mobile
/src/platforms/dart/ @getsentry/team-mobile
/src/wizard/dart/ @getsentry/team-mobile
/src/platforms/react-native/ @getsentry/team-mobile
/src/wizard/react-native/ @getsentry/team-mobile
/src/platforms/unity/ @getsentry/team-mobile
/src/wizard/unity/ @getsentry/team-mobile
/src/wizard/cordova/ @getsentry/team-mobile

/src/platforms/dotnet/ @bruno-garcia
/src/wizard/dotnet/ @bruno-garcia
/src/platforms/java/ @bruno-garcia @marandaneto
/src/wizard/java/ @bruno-garcia @marandaneto

/src/platforms/native/ @getsentry/owners-native
/src/wizard/native/ @getsentry/owners-native
/src/wizard/minidump/ @getsentry/owners-native
/src/platforms/rust/ @getsentry/owners-native
/src/wizard/rust/ @getsentry/owners-native

/src/platforms/javascript/ @getsentry/team-webplatform
/src/wizard/javascript/ @getsentry/team-webplatform
/src/platforms/php/ @getsentry/team-webplatform
/src/wizard/php/ @getsentry/team-webplatform
/src/platforms/go/ @getsentry/team-webplatform
/src/wizard/go/ @getsentry/team-webplatform
/src/platforms/elixir/ @getsentry/team-webplatform
/src/wizard/elixir/ @getsentry/team-webplatform
/src/platforms/python/ @getsentry/team-webplatform
/src/wizard/python/ @getsentry/team-webplatform

/src/docs/product/discover-queries/ @getsentry/visibility
/src/docs/product/performance/ @getsentry/visibility

/src/docs/product/cli/ @kamilogorek
/src/docs/product/cli/releases/ @getsentry/team-webplatform
/src/docs/product/cli/dif/ @getsentry/owners-native

fix: Attachments intro (#2889)
  src/platforms/common/enriching-events/attachments/index.mdx
Owners: none

Document Android multi process Apps for Android SDK
  src/platforms/android/usage/advanced-usage.mdx
Owners: @getsentry/team-mobile

Fix indentation
  src/includes/getting-started-config/node.mdx
Owners: none

Update getting-started.mdx
  src/docs/product/performance/getting-started.mdx
Owners: @getsentry/visibility

Fix syntax error and indentation on Node configuration sample (#2863)
  src/includes/getting-started-config/node.mdx
Owners: none

Update getting-started.mdx
  src/docs/product/performance/getting-started.mdx
Owners: @getsentry/visibility

fix: Broken link in grouping-and-fingerprints
  src/docs/product/sentry-basics/guides/grouping-and-fingerprints/index.mdx
Owners: none

fix: Broken link in grouping-and-fingerprints (#2901)
  src/docs/product/sentry-basics/guides/grouping-and-fingerprints/index.mdx
Owners: none
