Repository getsentry/sentry-docs, pull requests merged in 2021-07, with the labels that each got.

#3818 feat: Hybrid SDK options and React Native manual native initialization page
  src/platforms/common/configuration/options.mdx
  src/platforms/react-native/manual-setup/native-init.mdx
Labels: Platform: React-Native

#3839 feat: Troubleshooting page for Capacitor with iOS Deployment Version fix
  src/platforms/javascript/common/troubleshooting/index.mdx
  src/platforms/javascript/common/troubleshooting/supported-browsers.mdx
  src/platforms/javascript/guides/capacitor/troubleshooting.mdx
Labels: Platform: Capacitor

#3848 Remove mention of only Android support for Capacitor in primer
  src/includes/getting-started-primer/javascript.capacitor.mdx
Labels: Platform: Capacitor

#3841 feat: Clearer RN documentation on Source Maps and release and dist values
  src/includes/set-release/react-native.mdx
  src/platforms/react-native/001-manual-sourcemaps.png
  src/platforms/react-native/manual-setup/sourcemaps.mdx
  src/platforms/react-native/sourcemaps.mdx
Labels: Platform: React-Native

#3843 feat: Initial troubleshooting page for RN
  src/platforms/react-native/troubleshooting.mdx
Labels: Platform: React-Native

#3859 feat: Add Capacitor wizard
  src/wizard/capacitor/index.md
Labels: Platform: Capacitor

#3933 fix: Fix the Release and Dist content in the capacitor init for angular
  src/includes/getting-started-config/javascript.capacitor.mdx
Labels: Platform: Capacitor

#3391 feat: Clearer instructions for Hermes sourcemaps
  src/platforms/react-native/manual-setup/hermes.mdx
  src/platforms/react-native/sourcemaps.mdx
  src/platforms/react-native/troubleshooting.mdx
Labels: Platform: React-Native, Status: In Progress

#3833 ref(apple): Rename option for enabling auto performance
  src/platforms/apple/common/performance/instrumentation/automatic-instrumentation.mdx
Labels: Status: Stale
