Repository getsentry/sentry-docs, pull requests merged in 2021-03, with the labels that each got.

#3136 Update the set-user scope example in Dart
  src/includes/set-user/dart.mdx
Labels: Dart

#3224 feat: Update RN included instrumentation performance docs
  src/platforms/react-native/migration.mdx
  src/platforms/react-native/performance/included-instrumentation.mdx
Labels: React-Native

#3028 Use safe navigation operator in ruby example config
  src/includes/configuration/before-send/ruby.mdx
Labels: ruby

#3167 fix(azure): Changes to Azure AD SSO setup
  src/docs/product/accounts/sso/azure-search-sentry.png
  src/docs/product/accounts/sso/azure-sso.mdx
Labels: Status: In Progress
