Repository getsentry/sentry-docs, pull requests merged in 2021-04, with the labels that each got.

#3195 AWS Lambda integration - serverless framework deployment documentation
  src/docs/product/integrations/aws-lambda/index.mdx
Labels: Status: Stale

#3161 Excluded exceptions was dropped in v4. Apply changes to Sentry Symfony documentation.
  src/platforms/php/guides/symfony/config.mdx
Labels: Status: In Progress, Symfony, Team: Web Platform, help wanted

#2681 feat(fingerprinting): Document custom titles
  src/platforms/common/data-management/event-grouping/fingerprint-rules.mdx
Labels: Status: Stale

#3483 Wrong argument format for breadcrumbs_logger
  src/platforms/ruby/common/configuration/options.mdx
Labels: Platform: Ruby

#3492 fix: Method name toTraceparent => toSentryTrace
  src/platforms/common/performance/connect-services.mdx
Labels: performance
