Repository getsentry/sentry-docs, pull requests merged in 2021-05, with the labels that each got.

#3508 Remove unused use statement
  src/platforms/php/guides/symfony/index.mdx
Labels: Platform: Symfony, Team: Web Platform

#3470 Initial content for Symfony performance integrations
  src/platforms/php/common/configuration/transports.mdx
  src/platforms/php/common/integrations.mdx
  src/platforms/php/guides/symfony/index.mdx
  src/platforms/php/guides/symfony/performance/pm-integrations.mdx
Labels: Team: Web Platform

#3510 Update Symfony Monolog integration
  src/platforms/php/guides/symfony/index.mdx
Labels: Platform: Symfony, Team: Web Platform

#3503 fix(copy): Issue Alerts Actions List
  src/docs/product/alerts-notifications/issue-alerts.mdx
Labels: Team: Ecosystem

#3568 feat: Migration docs for RN 2.5.x regarding the ANDROID_ID
  src/platforms/react-native/migration.mdx
Labels: Platform: React-Native

#2796 fix: Hide sidebar entries without CSS
  src/components/sidebarLink.tsx
  src/css/_includes/sidebar.scss
Labels: Status: In Progress
