Repository getsentry/sentry-docs, pull requests merged in 2023-08, with the labels that each got.

#7565 Update PHP Cron snippets to use `Sentry::captureCheckIn()`
  src/platform-includes/crons/setup/php.mdx
Labels: Platform: PHP, Team: Web SDK Backend

#7566 feat(sentry-go): Document Crons support
  src/docs/product/crons/getting-started/index.mdx
  src/platform-includes/crons/connect-errors/go.mdx
  src/platform-includes/crons/requirements/go.mdx
  src/platform-includes/crons/setup/go.mdx
  src/platforms/common/crons/index.mdx
Labels: Platform: Go, Product Area: Crons

#7568 feat(sentry-go): Document Attachments support
  src/platform-includes/enriching-events/add-attachment/go.mdx
  src/platforms/common/enriching-events/attachments/index.mdx
Labels: Platform: Go

#7422 Async option removal was delayed til 6.0
  src/platforms/ruby/common/migration.mdx
Labels: Product Area: SDKs - Web Backend

#7498 Fixed Python AIOHTTP documentation
  src/platforms/python/guides/aiohttp/index.mdx
Labels: Platform: Python, Effort: Small
