Repository getsentry/sentry-docs, pull requests merged in 2023-11, with the labels that each got.

#8418 PHP SDK version 4.0
  src/platform-includes/enriching-events/breadcrumbs/breadcrumbs-example/php.mdx
  src/platform-includes/getting-started-install/php.mdx
  src/platform-includes/performance/enable-manual-instrumentation/php.mdx
  src/platform-includes/performance/force-sampling-decision/php.mdx
  src/platform-includes/performance/retrieve-transaction/php.mdx
  src/platforms/php/common/configuration/transports.mdx
  src/platforms/php/common/integrations/index.mdx
  src/platforms/php/index.mdx
Labels: Platform: PHP

#8233 ref(workflow): Update participants docs
  src/docs/product/alerts/notifications/index.mdx
Labels: Stale

#8317 ref(profiling): update summary docs
  src/docs/product/profiling/index.mdx
  src/docs/product/profiling/new-transaction-profile-view.png
  src/docs/product/profiling/transaction-profile-view.png
Labels: Stale

#8552 Add new PHP config options
  src/platform-includes/configuration/ignore-exceptions/php.laravel.mdx
  src/platform-includes/configuration/ignore-exceptions/php.mdx
  src/platform-includes/configuration/ignore-transactions/php.laravel.mdx
  src/platform-includes/configuration/ignore-transactions/php.mdx
  src/platform-includes/configuration/logger/php.laravel.mdx
  src/platform-includes/configuration/logger/php.mdx
  src/platforms/common/configuration/filtering.mdx
  src/platforms/common/configuration/options.mdx
Labels: Platform: PHP

#8575 Update Replay images to reflect new layout
  src/docs/product/session-replay/replay-details-share.png
  src/docs/product/session-replay/replay-details-tags.png
  src/docs/product/session-replay/replay-details.mdx
  src/docs/product/session-replay/replay-details.png
  src/docs/product/session-replay/replay-index-filtering.png
  src/docs/product/session-replay/session-replay-what-is-a-replay.png
  src/docs/product/session-replay/session-replay.png
Labels: enhancement, Product Area: Replays

#8408 fix(browser-profiling): Remove `BrowserTracing` from Nextjs and Sveltekit snippets
  src/platform-includes/profiling/automatic-instrumentation-setup/javascript.nextjs.mdx
  src/platform-includes/profiling/automatic-instrumentation-setup/javascript.sveltekit.mdx
Labels: Stale
