Repository getsentry/sentry-docs, pull requests merged in 2023-04, with the labels that each got.

#6663 fix: Use correct link in PHP profiling wizard
  src/wizard/php/profiling-onboarding/php/2.configure-performance.md
Labels: Platform: PHP

#6269 feat(replay): Add information about adding CSP entry for Replay WebWorkers
  src/platforms/javascript/common/session-replay/index.mdx
Labels: Status: Stale, Status: Backlog

#6465 feat(replays): Document the new search properties available for the Replay DOM Search feature
  src/docs/product/sentry-basics/search/searchable-properties.mdx
Labels: Status: Stale

#6650 feat(ruby): Add Profiling docs
  src/docs/product/profiling/getting-started.mdx
  src/docs/product/profiling/index.mdx
  src/platforms/common/profiling/index.mdx
  src/wizard/ruby/profiling-onboarding/ruby/0.alert.md
  src/wizard/ruby/profiling-onboarding/ruby/1.install.md
  src/wizard/ruby/profiling-onboarding/ruby/2.configure-performance.md
  src/wizard/ruby/profiling-onboarding/ruby/3.configure-profiling.md
Labels: Platform: Ruby

#6716 Add Laravel and Symfony Profiling docs
  src/platforms/common/performance/index.mdx
  src/platforms/php/common/profiling/index.mdx
  src/platforms/php/guides/laravel/profiling/index.mdx
  src/platforms/php/guides/symfony/profiling/index.mdx
Labels: Platform: PHP

#6729 Add Laravel and Symfony Profiling wizard
  src/wizard/php/profiling-onboarding/laravel/1.install.md
  src/wizard/php/profiling-onboarding/laravel/2.configure-performance.md
  src/wizard/php/profiling-onboarding/laravel/3.configure-profiling.md
  src/wizard/php/profiling-onboarding/php/2.configure-performance.md
  src/wizard/php/profiling-onboarding/symfony/1.install.md
  src/wizard/php/profiling-onboarding/symfony/2.configure-performance.md
  src/wizard/php/profiling-onboarding/symfony/3.configure-profiling.md
Labels: Platform: PHP
