Repository getsentry/sentry-docs, pull requests merged in 2023-03, with the labels that each got.

#6392 ref(vue): Update `logErrors` description
  src/platform-includes/getting-started-config/javascript.vue.mdx
  src/wizard/javascript/vue.md
Labels: Platform: JavaScript

#6256 Edge and middleware
  src/platform-includes/getting-started-primer/javascript.nextjs.mdx
Labels: Platform: JavaScript, Status: Stale

#6404 feat(angular): Add Angular CLI + Webpack Plugin sourcemaps upload guide
  src/components/pageGrid.tsx
  src/platform-includes/sourcemaps/overview/javascript.angular.mdx
  src/platform-includes/sourcemaps/upload/primer/javascript.angular.mdx
  src/platforms/javascript/common/sourcemaps/uploading/angular-webpack.mdx
Labels: Platform: JavaScript

#6487 docs(profiling): label rust profiler as experimental
  src/docs/product/profiling/getting-started.mdx
  src/docs/product/profiling/index.mdx
Labels: Product Docs

#6509 Improve `before_send_transaction`docs
  src/platform-includes/configuration/before-send-transaction/python.mdx
Labels: Platform: Python, Team: Web SDK Backend

#6505 PHP profiling
  src/docs/product/profiling/getting-started.mdx
  src/docs/product/profiling/index.mdx
  src/platforms/common/profiling/index.mdx
  src/platforms/php/common/profiling/index.mdx
  src/wizard/php/profiling-onboarding/php/0.alert.md
  src/wizard/php/profiling-onboarding/php/1.install.md
  src/wizard/php/profiling-onboarding/php/2.configure-performance.md
  src/wizard/php/profiling-onboarding/php/3.configure-profiling.md
Labels: Platform: PHP

#6516 fix: Use correct CheckInStatus::error
  src/platform-includes/crons/setup/php.mdx
Labels: Platform: PHP, Team: Web SDK Backend, Team: Crons

#6533 Use `SentrySdk::getCurrentHub()` in examples
  src/platform-includes/crons/setup/php.mdx
Labels: Platform: PHP

#6117 feat(grouping): Add grouping breakdown deprecation note
  src/docs/product/data-management-settings/event-grouping/grouping-breakdown/index.mdx
Labels: Status: Stale

#6287 feat(workflow): Rename issue owners to suggested assignees
  src/docs/product/accounts/getting-started/index.mdx
  src/docs/product/alerts/best-practices.mdx
  src/docs/product/alerts/create-alerts/issue-alert-config.mdx
  src/docs/product/alerts/create-alerts/suggested_assignee_all_members.png
  src/docs/product/integrations/source-code-mgmt/github/index.mdx
  src/docs/product/integrations/source-code-mgmt/gitlab/index.mdx
  src/docs/product/issues/ownership-rules/auto-assign-issue-owner.png
  src/docs/product/issues/ownership-rules/code_owners.png
  src/docs/product/issues/ownership-rules/create_ownership_rule.png
  src/docs/product/issues/ownership-rules/external_team_mappings.png
  src/docs/product/issues/ownership-rules/external_user_mappings.png
  src/docs/product/issues/ownership-rules/index.mdx
  src/docs/product/issues/ownership-rules/link-stack-trace.png
  src/docs/product/issues/ownership-rules/ownership_rules.png
  src/docs/product/issues/ownership-rules/perform_these_actions.png
  src/docs/product/issues/ownership-rules/suggested_assignees.png
  src/docs/product/issues/states-triage/index.mdx
  src/docs/product/sentry-basics/enrich-data/index.mdx
  src/docs/product/sentry-basics/integrate-frontend/create-new-project.mdx
  src/docs/product/sentry-basics/key-terms.mdx
  src/docs/product/sentry-basics/search/searchable-properties.mdx
Labels: Status: In Progress
