Repository getsentry/sentry-docs, pull requests merged in 2023-02, with the labels that each got.

#6172 Laravel 10 updates
  src/platforms/php/guides/laravel/index.mdx
Labels: Platform: PHP, Team: Web SDK Backend

#6207 Update Go TracesSampler examples
  src/platform-includes/performance/always-inherit-sampling-decision/go.mdx
  src/platform-includes/performance/configure-sample-rate/go.mdx
  src/platform-includes/performance/custom-sampling-context/go.mdx
  src/platform-includes/performance/traces-sampler-as-filter/go.mdx
  src/platform-includes/performance/traces-sampler-as-sampler/go.mdx
Labels: Platform: Go, Team: Web SDK Backend

#6208 feat(perf): Add OpenTelemetry docs for Go
  src/docs/product/performance/getting-started.mdx
  src/includes/beta-note-opentelemetry.mdx
  src/platform-includes/performance/opentelemetry-install/go.mdx
  src/platform-includes/performance/opentelemetry-setup/go.mdx
  src/platforms/common/performance/instrumentation/opentelemetry.mdx
Labels: performance

#6069 Clarify offline caching behavior of Flutter SDK
  src/platform-includes/getting-started-primer/flutter.mdx
  src/platform-includes/getting-started-primer/javascript.cordova.mdx
  src/platform-includes/getting-started-primer/react-native.mdx
Labels: Status: Stale

#6104 feat: Update `enableLongTask` docs
  src/platforms/javascript/common/performance/instrumentation/automatic-instrumentation.mdx
Labels: Status: Stale

#6012 clarify s3 instructions
  src/platforms/common/data-management/debug-files/symbol-servers.mdx
Labels: Status: Stale

#6313 Symfony v4.6.0
  src/platform-includes/configuration/before-send-transaction/php.symfony.mdx
  src/platforms/common/configuration/filtering.mdx
  src/platforms/common/configuration/options.mdx
  src/platforms/php/guides/symfony/configuration/symfony-options.mdx
  src/platforms/php/guides/symfony/index.mdx
  src/wizard/php/symfony.md
Labels: Platform: PHP, Team: Web SDK Backend
