Repository getsentry/sentry-docs, pull requests merged in 2023-06, with the labels that each got.

#7104 Clarify structured context nesting
  src/platforms/common/enriching-events/context.mdx
Labels: Waiting for: Product Owner

#7097 Add `sentry-dart-plugin` documentation
  src/platforms/flutter/troubleshooting.mdx
  src/platforms/flutter/upload-debug.mdx
Labels: Waiting for: Product Owner

#7242 chore(Apple): Update experimental notes
  src/platform-includes/getting-started-config/apple.mdx
  src/wizard/apple/ios.md
Labels: Platform: Cocoa

#7133 Add PHP Cron Monitor upserts
  src/platform-includes/crons/setup/php.mdx
Labels: Status: In Progress, Platform: PHP, Team: Web SDK Backend

#6934 updating team membership page
  src/docs/product/accounts/membership.mdx
Labels: Status: Stale

#7279 Laravel Cron Upserts
  src/platform-includes/crons/setup/php.laravel.mdx
Labels: Platform: PHP, Team: Web SDK Backend
