Repository getsentry/sentry-docs, pull requests merged in 2023-05, with the labels that each got.

#6878 fix(profiling): Fix typo in node profiling wizard
  src/wizard/node/profiling-onboarding/javascript-nextjs/3.configure-profiling.md
  src/wizard/node/profiling-onboarding/node/3.configure-profiling.md
  src/wizard/node/profiling-onboarding/remix/3.configure-profiling.md
Labels: Product Area: Profiling

#6879 Reintroduce Lumen
  src/platforms/php/guides/laravel/other-versions/lumen.mdx
Labels: Platform: PHP

#6880 Add missing Laravel options
  src/platforms/php/guides/laravel/configuration/laravel-options.mdx
Labels: Platform: PHP

#6881 Add profiling hint to PHP
  src/platforms/php/common/performance/instrumentation/automatic-instrumentation.mdx
Labels: Platform: PHP

#6427 (Performance) reconsider onboarding wording
  src/platforms/common/performance/index.mdx
Labels: Status: Stale

#6617 Add docs for `loguru` integration
  src/platforms/python/common/configuration/integrations/asyncio.mdx
  src/platforms/python/common/configuration/integrations/gnu_backtrace.mdx
  src/platforms/python/common/configuration/integrations/grpc.mdx
  src/platforms/python/common/configuration/integrations/httpx.mdx
  src/platforms/python/common/configuration/integrations/loguru.mdx
  src/platforms/python/common/configuration/integrations/pure_eval.mdx
  src/platforms/python/common/configuration/integrations/pymongo.mdx
  src/platforms/python/common/configuration/integrations/redis.mdx
  src/platforms/python/common/configuration/integrations/socket.mdx
  src/platforms/python/common/configuration/integrations/sqlalchemy.mdx
  src/platforms/python/common/configuration/integrations/wsgi.mdx
Labels: Status: In Progress, Product Area: SDKs - Web Backend

#6882 Clarify PHP response time for performance
  src/platforms/common/performance/index.mdx
Labels: Platform: PHP

#7010 Fix filename in TypeScript version of code snippet of manual-setup.mdx
  src/platforms/javascript/guides/sveltekit/manual-setup.mdx
Labels: Product Area: SDKs - Web Frontend
