Repository getsentry/sentry-docs, pull requests merged in 2024-10, with the labels that each got.

#11349 [Python] Added new option `http_methods_to_capture` to Starlette and FastAPI docs.
  docs/platforms/python/integrations/fastapi/index.mdx
  docs/platforms/python/integrations/starlette/index.mdx
Labels: Platform: Python, Effort: Small

#11348 [Python] Added new option `http_methods_to_capture` to Flask and Django docs.
  docs/platforms/python/integrations/django/index.mdx
  docs/platforms/python/integrations/flask/index.mdx
Labels: Platform: Python, Effort: Small

#11341 [Python] Overhaul "Setup tracing" > "Custom instrumentation"
  docs/platforms/python/tracing/instrumentation/custom-instrumentation/index.mdx
Labels: Platform: Python, Effort: Small

#11332 Replaced all uses of `description` with `name` for `start_span`
  develop-docs/sdk/telemetry/traces/modules/llm-monitoring.mdx
  docs/platforms/python/tracing/instrumentation/custom-instrumentation/index.mdx
  docs/platforms/python/tracing/instrumentation/custom-instrumentation/queues-module.mdx
  docs/platforms/python/tracing/instrumentation/custom-instrumentation/requests-module.mdx
  docs/product/insights/llm-monitoring/getting-started/index.mdx
  platform-includes/performance/add-spans-example/python.mdx
Labels: Platform: Python, Effort: Small

#11499 Add Laravel version requirements if needed
  docs/platforms/php/guides/laravel/tracing/instrumentation/automatic-instrumentation.mdx
Labels: Platform: PHP

#11500 Fix wording of `trace_propagation_targets` to be correct
  docs/platforms/php/common/configuration/options.mdx
Labels: Platform: PHP

#11498 Document how to use the PHP Monolog integration
  docs/platforms/php/common/integrations/monolog.mdx
  docs/platforms/php/guides/symfony/integrations/monolog.mdx
Labels: Platform: PHP

#11478 Adds a note that source maps are not uploaded for debug mode in React Native / Expo
  docs/platforms/react-native/sourcemaps/index.mdx
  docs/platforms/react-native/sourcemaps/uploading/expo.mdx
Labels: Platform: React-Native

#11534 Merge and move Symfony Monolog docs
  docs/platforms/php/guides/laravel/index.mdx
  docs/platforms/php/guides/symfony/index.mdx
  docs/platforms/php/guides/symfony/integrations/monolog.mdx
Labels: Platform: PHP

#11234 docs(insights): detail MongoDB support for Queries module
  develop-docs/sdk/telemetry/traces/modules/queries.mdx
  develop-docs/sdk/telemetry/traces/span-data-conventions.mdx
  docs/product/insights/queries.mdx
Labels: WIP

#11431 fix(browser): Update supported browsers due to `globalThis` usage
  docs/platforms/javascript/common/troubleshooting/supported-browsers.mdx
  includes/migration/javascript-v8/compatible-browsers.mdx
Labels: Stale

#11600 [Python] Updated celery instrumentation documentation
  docs/platforms/python/integrations/celery/crons.mdx
  docs/platforms/python/integrations/celery/index.mdx
Labels: Platform: Python, Effort: Small

#11598 [Python] Document `failed_request_status_codes` option better
  docs/platforms/python/integrations/fastapi/index.mdx
  docs/platforms/python/integrations/starlette/index.mdx
Labels: Platform: Python, Effort: Small
