Repository getsentry/sentry-docs, pull requests merged in 2024-09, with the labels that each got.

#10904 Added docs on configuring duplicate event detection in .NET
  docs/platforms/dotnet/common/enriching-events/event-processors/index.mdx
  platform-includes/enriching-events/event-processors/dotnet.mdx
Labels: Stale

#10911 Default value for the config key `environment` in the java sdk
  docs/platforms/java/common/configuration/options.mdx
Labels: Stale

#11150 feat(profiling): add sample format V2 documentation
  develop-docs/sdk/telemetry/profiles/index.mdx
  develop-docs/sdk/telemetry/profiles/sample-format-v1.mdx
  develop-docs/sdk/telemetry/profiles/sample-format-v2.mdx
Labels: Product Area: Profiling

#11217 Highlight the importance of `zend.exception_ignore_args: Off`
  docs/platforms/php/guides/laravel/index.mdx
  docs/platforms/php/guides/laravel/other-versions/laravel5.mdx
  docs/platforms/php/guides/laravel/other-versions/laravel6-7.mdx
  docs/platforms/php/guides/laravel/other-versions/laravel8-10.mdx
  docs/platforms/php/guides/symfony/index.mdx
  docs/platforms/php/index.mdx
Labels: Platform: PHP

#10974 Add (Go) Logrus documentation
  docs/platforms/go/guides/logrus/index.mdx
  src/components/platformIcon.tsx
  src/middleware.ts
Labels: Platform: Go, WIP

#10980 add Yarn as required dependency to environment.mdx
  docs/contributing/environment.mdx
Labels: Stale

#11224 Added link to custom instrumentation …
  docs/platforms/python/integrations/dramatiq/index.mdx
Labels: Platform: Python, Effort: Small

#10851 docs(python): Update attachment docs for 2.x
  platform-includes/enriching-events/add-attachment/python.mdx
Labels: Platform: Python, Effort: Small

#10790 remove martini support
  docs/platforms/go/common/troubleshooting.mdx
  docs/platforms/go/guides/martini/index.mdx
  docs/product/performance/getting-started.mdx
  src/components/platformIcon.tsx
  src/middleware.ts
Labels: Platform: Go

#11269 [Python] Include package prefix in semantic versioning
  docs/platforms/python/configuration/releases.mdx
Labels: Platform: Python, Effort: Small

#11222 [Python] Updated code snippets …
  platform-includes/enriching-events/add-attachment/python.mdx
  platform-includes/enriching-events/set-transaction-name/python.mdx
  platform-includes/set-fingerprint/basic/python.mdx
  platform-includes/set-fingerprint/static/python.mdx
Labels: Platform: Python, Effort: Small

#11266 [Python] Update docs for `last_event_id` in migration guide
  docs/platforms/python/migration/1.x-to-2.x.mdx
Labels: Platform: Python, Effort: Small

#11267 [Python] Fixed async redis code snippet
  docs/platforms/python/integrations/redis/index.mdx
Labels: Platform: Python, Effort: Small

#11284 Go: Add custom trace propagation
  platform-includes/distributed-tracing/custom-instrumentation/go.mdx
Labels: Platform: Go

#11310 fix(python): `propagate_scope` is `True` by default
  docs/platforms/python/integrations/default-integrations.mdx
Labels: Platform: Python, Effort: Small

#11314 [Python] Improved code snippet for `error_sampler`
  docs/platforms/python/configuration/sampling.mdx
  platform-includes/configuration/error-sampler/python.mdx
Labels: Platform: Python, Effort: Small

#11328 Added possible error messages to network issues page
  docs/platforms/python/troubleshooting.mdx
Labels: Platform: Python, Effort: Small

#11289 docs(python): Improve `before_send` docs
  docs/platforms/python/configuration/filtering/index.mdx
  platform-includes/configuration/before-send/python.mdx
Labels: Platform: Python, Effort: Small

#11358 Php updates
  docs/platforms/php/guides/symfony/configuration/symfony-options.mdx
  platform-includes/crons/setup/php.mdx
Labels: Platform: PHP, Team: Web Backend SDKs

#11362 [Go] Slim down SDK installation step
  platform-includes/getting-started-install/go.mdx
Labels: Platform: Go, Team: Web Backend SDKs

#9992 Update Go docs
  docs/platforms/go/guides/fiber/index.mdx
  docs/product/performance/getting-started.mdx
  platform-includes/crons/setup/go.mdx
  src/components/platformIcon.tsx
  src/middleware.ts
Labels: Platform: Go, Team: Web Backend SDKs, Product Area: SDKs - Web Backend, WIP

#10087 feat: Add SwiftDescriptor error fix to troubleshooting for RN and Apple
  docs/platforms/apple/common/troubleshooting/index.mdx
  docs/platforms/react-native/troubleshooting/index.mdx
Labels: Stale
