Repository getsentry/sentry-docs, pull requests merged in 2024-08, with the labels that each got.

#11015 [Python] Added dramatiq integration getting started
  docs/platforms/python/integrations/dramatiq/index.mdx
  docs/platforms/python/integrations/index.mdx
Labels: Platform: Python

#11069 [Python] Remove links to defunct sample apps
  docs/platforms/python/integrations/aws-lambda/manual-instrumentation/index.mdx
  docs/platforms/python/integrations/gcp-functions/index.mdx
Labels: Platform: Python, Effort: Small

#10048 feat: add explainer on continuous profiling and show how to enable it
  docs/platforms/apple/common/features/experimental-features.mdx
  docs/platforms/apple/common/profiling/index.mdx
Labels: Stale

#10829 Add data collected pages for the PHP SDKs
  docs/platforms/php/common/data-management/data-collected.mdx
  docs/platforms/php/guides/laravel/data-management/data-collected.mdx
  docs/platforms/php/guides/symfony/data-management/data-collected.mdx
Labels: Platform: PHP, Stale
