Repository getsentry/sentry-docs, pull requests merged in 2024-12, with the labels that each got.

#10976 Add (Go) Slog documentation
  docs/platforms/go/guides/slog/index.mdx
  src/components/platformIcon.tsx
  src/middleware.ts
Labels: Platform: Go, wip

#10975 Add Zerolog docs
  docs/platforms/go/guides/zerolog/index.mdx
  src/components/platformIcon.tsx
  src/middleware.ts
Labels: Platform: Go, wip

#12108 [DEVELOP] Added awarness section to top level pages
  develop-docs/api-server/index.mdx
  develop-docs/application-architecture/index.mdx
  develop-docs/development-infrastructure/index.mdx
  develop-docs/engineering-practices/index.mdx
  develop-docs/frontend/index.mdx
  develop-docs/ingestion/index.mdx
  develop-docs/integrations/index.mdx
  develop-docs/sdk/index.mdx
  develop-docs/self-hosted/index.mdx
  develop-docs/services/index.mdx
Labels: Effort: Small, Develop

#12141 [Develop] Renamed `api-server` back to `backend`
  .pre-commit-config.yaml
  develop-docs/backend/api/basics.mdx
  develop-docs/backend/api/checklist.mdx
  develop-docs/backend/api/concepts.mdx
  develop-docs/backend/api/design.mdx
  develop-docs/backend/api/index.mdx
  develop-docs/backend/api/public.mdx
  develop-docs/backend/api/serializers.mdx
  develop-docs/backend/application-domains/ab-testing/index.mdx
  develop-docs/backend/application-domains/asynchronous-workers.mdx
  develop-docs/backend/application-domains/database-migrations/img/post-deploy-pipeline-materials.png
  develop-docs/backend/application-domains/database-migrations/img/post-deploy-pipeline-tile.png
  develop-docs/backend/application-domains/database-migrations/img/post-deploy-pipeline-variables.png
  develop-docs/backend/application-domains/database-migrations/index.mdx
  develop-docs/backend/application-domains/digests.mdx
  develop-docs/backend/application-domains/email.mdx
  develop-docs/backend/application-domains/feature-flags/flagpole.mdx
  develop-docs/backend/application-domains/feature-flags/index.mdx
  develop-docs/backend/application-domains/feature-flags/options-backed-features.mdx
  develop-docs/backend/application-domains/grouping.mdx
  develop-docs/backend/application-domains/index.mdx
  develop-docs/backend/application-domains/kafka.mdx
  develop-docs/backend/application-domains/metrics.mdx
  develop-docs/backend/application-domains/nodestore.mdx
  develop-docs/backend/application-domains/options.mdx
  develop-docs/backend/application-domains/outboxes.mdx
  develop-docs/backend/application-domains/pii/index.mdx
  develop-docs/backend/application-domains/pii/methods.mdx
  develop-docs/backend/application-domains/pii/selectors.mdx
  develop-docs/backend/application-domains/pii/types.mdx
  develop-docs/backend/application-domains/quotas.mdx
  develop-docs/backend/application-domains/transaction-clustering/index.mdx
  develop-docs/backend/application-domains/transaction-clustering/merged.png
  develop-docs/backend/application-domains/transaction-clustering/transaction-clustering-arch.png
  develop-docs/backend/application-domains/transaction-clustering/transaction-clustering-arch.svg
  develop-docs/backend/application-domains/transaction-clustering/tree.png
  develop-docs/backend/application-domains/transaction-clustering/unparameterized.png
  develop-docs/backend/application-domains/translations.mdx
  develop-docs/backend/application-domains/tsdb.mdx
  develop-docs/backend/application-domains/write-buffers.mdx
  develop-docs/backend/config.mdx
  develop-docs/backend/index.mdx
  develop-docs/backend/issue-platform/img/issueProperties.jpg
  develop-docs/backend/issue-platform/index.mdx
  develop-docs/backend/issue-platform/writing-detectors/img/issuePlatformAdminDetectionSettings.png
  develop-docs/backend/issue-platform/writing-detectors/img/issuePlatformCustomerDetectorSettings.png
  develop-docs/backend/issue-platform/writing-detectors/img/issuePlatformDbonMainThreadDetectorSetting.png
  develop-docs/backend/issue-platform/writing-detectors/img/issuePlatformFingerprinting01.png
  develop-docs/backend/issue-platform/writing-detectors/img/issuePlatformFingerprinting02.png
  develop-docs/backend/issue-platform/writing-detectors/img/issuePlatformFingerprinting03.png
  develop-docs/backend/issue-platform/writing-detectors/index.mdx
  src/components/sidebar/developDocsSidebar.tsx
  src/middleware.ts
Labels: Develop

#12143 [Develop] Add dedicated relay section
  develop-docs/ingestion/index.mdx
  develop-docs/ingestion/relay/index.mdx
  develop-docs/ingestion/relay/projectconfig-versioning.mdx
  develop-docs/ingestion/relay/relay-best-practices.mdx
  develop-docs/ingestion/relay/transaction-span-ratelimits.mdx
  src/middleware.ts
Labels: Develop

#12150 [Develop] Add symbolic, symbolicator and snuba
  develop-docs/ingestion/snuba/index.mdx
  develop-docs/ingestion/symbolic/index.mdx
  develop-docs/ingestion/symbolicator/index.mdx
Labels: Develop

#11239 Update troubleshooting.mdx - Add `DAY` when using `INTERVAL` while referencing the `SENTRY_RETENTION_DAYS` variable
  develop-docs/self-hosted/troubleshooting.mdx
Labels: Stale

#9539 Document Java Backpressure Option
  docs/platforms/java/common/configuration/options.mdx
  docs/platforms/java/common/configuration/sampling.mdx
Labels: wip
