Repository getsentry/sentry-docs, pull requests merged in 2024-02, with the labels that each got.

#9010 Hide Metrics docs for Symfony
  docs/platforms/php/common/metrics/index.mdx
Labels: Platform: PHP, Product Area: SDKs - Web Backend

#8930 Add `--dump-sourcemap` to `npx expo export`
  docs/platforms/react-native/sourcemaps/uploading/expo.mdx
Labels: Stale

#9269 Clarify Excimer macOS support
  docs/platforms/php/common/profiling/index.mdx
  docs/platforms/php/guides/laravel/profiling/index.mdx
  docs/platforms/php/guides/symfony/profiling/index.mdx
Labels: Platform: PHP
