Repository getsentry/sentry-docs, pull requests merged in 2025-02, with the labels that each got.

#11791 feat(dynamic-sampling): organization settings
  docs/concepts/key-terms/tracing/trace-view.mdx
  docs/organization/dynamic-sampling/img/advanced-org-level.png
  docs/organization/dynamic-sampling/img/advanced.png
  docs/organization/dynamic-sampling/img/client-to-backend-accumulated-sampling-effect.png
  docs/organization/dynamic-sampling/img/investigation-bias-discover.png
  docs/organization/dynamic-sampling/img/investigation-bias-rule-created.png
  docs/organization/dynamic-sampling/img/investigation-bias-tx-summary.png
  docs/organization/dynamic-sampling/img/mode-and-target-sample-rate.png
  docs/organization/dynamic-sampling/img/project-sample-rate-preview.png
  docs/organization/dynamic-sampling/index.mdx
  docs/organization/early-adopter-features/index.mdx
  docs/product/explore/discover-queries/query-builder.mdx
  docs/product/explore/traces/index.mdx
  docs/product/performance/retention-priorities/index.mdx
Labels: wip

#11980 RN: Updates capture feedback documentation
  platform-includes/user-feedback/sdk-api-example/react-native.mdx
Labels: Platform: React-Native

#12772 Add Relay - SDK context
  develop-docs/sdk/processes/basics.mdx
Labels: Team: SDKs

#12248 add hubProvider guide for zerolog
  docs/platforms/go/guides/zerolog/index.mdx
Labels: Stale, wip

#12785 Disable PHP profiling by default
  docs/platforms/php/index.mdx
Labels: Platform: PHP

#12822 [laravel] Version specific Cron guides
  platform-includes/crons/setup/php.laravel.mdx
Labels: Platform: PHP, Product Area: SDKs - Web Backend
