Repository getsentry/sentry-docs, pull requests merged in 2025-05, with the labels that each got.

#13533 Add "Data Collected" page for Godot SDK (and more)
  docs/platforms/godot/configuration/options.mdx
  docs/platforms/godot/data-management/data-collected.mdx
  docs/platforms/godot/data-management/store-minidumps-as-attachments/index.mdx
  docs/platforms/godot/enriching-events/screenshots/img/project-settings.png
  docs/platforms/godot/enriching-events/screenshots/img/screenshot-list-example.png
  docs/platforms/godot/enriching-events/screenshots/img/screenshot-thumbnail.png
  docs/platforms/godot/enriching-events/screenshots/index.mdx
Labels: Platform: Godot

#13531 feat(godot): Enriching events with scene tree data
  docs/platforms/godot/configuration/options.mdx
  docs/platforms/godot/enriching-events/view-hierarchy/img/project-settings.png
  docs/platforms/godot/enriching-events/view-hierarchy/img/scene-tree-example.png
  docs/platforms/godot/enriching-events/view-hierarchy/index.mdx
Labels: Platform: Godot

#12519 feat(kmp): add SPM note in getting started
  platform-includes/getting-started-install/kotlin.kotlin-multiplatform.mdx
Labels: review: pending decision

#13529 docs(dotnet): add Data Collected pages
  docs/platforms/dotnet/common/data-management/data-collected.mdx
  docs/platforms/powershell/data-management/data-collected.mdx
  docs/platforms/unity/data-management/data-collected.mdx
Labels: Docs, .NET

#13665 Godot: Creating source bundles for engine templates
  docs/platforms/godot/configuration/imgs/symbolicated_issue.png
  docs/platforms/godot/configuration/stack-traces.mdx
Labels: Godot

#13687 Fix PHP set user example
  docs/platforms/php/common/enriching-events/identify-user/index.mdx
Labels: PHP

#13688 Rename `org` config to `orgId`
  develop-docs/sdk/telemetry/traces/index.mdx
Labels: SDKs

#13751 Clarify double instrumentation issue
  docs/platforms/python/integrations/celery/crons.mdx
Labels: Product Area: Crons, Crons, Platform: Python
