Repository getsentry/sentry-docs, pull requests merged in 2025-06, with the labels that each got.

#13916 Document the Logs integration for PHP
  docs/platforms/php/common/configuration/options.mdx
  docs/platforms/php/common/logs/index.mdx
  docs/product/explore/logs/getting-started/index.mdx
  platform-includes/logs/options/php.mdx
  platform-includes/logs/requirements/php.mdx
  platform-includes/logs/setup/php.mdx
  platform-includes/logs/usage/php.mdx
Labels: PHP

#13824 Godot: Synchronize documentation with latest changes
  docs/platforms/godot/configuration/options.mdx
  docs/platforms/godot/configuration/stack-traces.mdx
  platform-includes/capture-message/godot.mdx
  platform-includes/configuration/before-send/godot.mdx
  platform-includes/configuration/config-intro/godot.mdx
  platform-includes/configuration/sample-rate/godot.mdx
  platform-includes/enriching-events/breadcrumbs/breadcrumbs-example/godot.mdx
  platform-includes/enriching-events/set-context/godot.mdx
  platform-includes/enriching-events/set-tag/godot.mdx
  platform-includes/enriching-events/set-user/godot.mdx
  platform-includes/enriching-events/unset-user/godot.mdx
  platform-includes/getting-started-install/godot.mdx
  platform-includes/getting-started-primer/godot.mdx
  platform-includes/getting-started-verify/godot.mdx
  platform-includes/sensitive-data/set-tag/godot.mdx
  platform-includes/sensitive-data/set-user/godot.mdx
  platform-includes/set-environment/godot.mdx
  platform-includes/set-level/godot.mdx
  platform-includes/set-release/godot.mdx
Labels: Godot

#11941 docs(sdks): New Span Protocol
  develop-docs/sdk/telemetry/spans/span-protocol.mdx
Labels: WIP, SDKs

#14033 Logs for Laravel
  docs/platforms/php/common/logs/index.mdx
  docs/platforms/php/guides/laravel/logs/index.mdx
  docs/product/explore/logs/getting-started/index.mdx
  platform-includes/logs/options/php.laravel.mdx
  platform-includes/logs/requirements/php.laravel.mdx
  platform-includes/logs/setup/php.laravel.mdx
  platform-includes/logs/usage/php.laravel.mdx
Labels: PHP

#14049 Fix Laravel log driver name
  platform-includes/logs/setup/php.laravel.mdx
Labels: PHP

#14147 Add spec for "AI Agents" insights module to develop docs.
  develop-docs/sdk/telemetry/traces/modules/ai-agents.mdx
Labels: Develop
