Repository getsentry/sentry-docs, pull requests merged in 2025-03, with the labels that each got.

#11191 Cocoa User Feedback
  docs/platforms/apple/common/user-feedback/configuration/index.mdx
  docs/platforms/apple/common/user-feedback/index.mdx
  docs/platforms/javascript/common/user-feedback/index.mdx
Labels: WIP

#12843 feat: Godot debug symbols guide
  docs/platforms/godot/configuration/imgs/godot_export_dialog.png
  docs/platforms/godot/configuration/imgs/symbolicated_issue.png
  docs/platforms/godot/configuration/stack-traces.mdx
Labels: Platform: Godot

#12769 JavaScript tracing docs refactor
  docs/concepts/key-terms/tracing/distributed-tracing.mdx
  docs/concepts/key-terms/tracing/img/Performance-page.png
  docs/concepts/key-terms/tracing/img/The-anatomy-of-a-trace.png
  docs/concepts/key-terms/tracing/img/Trace-view-page.png
  docs/concepts/key-terms/tracing/img/Traces-details-page.png
  docs/concepts/key-terms/tracing/img/Traces-page.png
  docs/concepts/key-terms/tracing/index.mdx
  docs/concepts/key-terms/tracing/span-metrics.mdx
  docs/platforms/javascript/common/tracing/configure-sampling/index.mdx
  docs/platforms/javascript/common/tracing/distributed-tracing/custom-instrumentation/index.mdx
  docs/platforms/javascript/common/tracing/distributed-tracing/dealing-with-cors-issues/index.mdx
  docs/platforms/javascript/common/tracing/distributed-tracing/index.mdx
  docs/platforms/javascript/common/tracing/index.mdx
  docs/platforms/javascript/common/tracing/instrumentation/caches-module.mdx
  docs/platforms/javascript/common/tracing/instrumentation/custom-instrumentation/index.mdx
  docs/platforms/javascript/common/tracing/instrumentation/index.mdx
  docs/platforms/javascript/common/tracing/instrumentation/queues-module.mdx
  docs/platforms/javascript/common/tracing/instrumentation/requests-module.mdx
  docs/platforms/javascript/common/tracing/span-metrics/examples.mdx
  docs/platforms/javascript/common/tracing/span-metrics/index.mdx
  docs/platforms/javascript/common/tracing/span-metrics/performance-metrics.mdx
  docs/product/tracing/index.mdx
  platform-includes/distributed-tracing/explanation/javascript.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.astro.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.cloudflare.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.nextjs.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.node.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.nuxt.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.remix.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.solidstart.mdx
  platform-includes/distributed-tracing/how-to-use/javascript.sveltekit.mdx
  platform-includes/tracing/sample-rate/javascript.astro.mdx
  platform-includes/tracing/sample-rate/javascript.cloudflare.mdx
  platform-includes/tracing/sample-rate/javascript.mdx
  platform-includes/tracing/sample-rate/javascript.nextjs.mdx
  platform-includes/tracing/sample-rate/javascript.node.mdx
  platform-includes/tracing/sample-rate/javascript.nuxt.mdx
  platform-includes/tracing/sample-rate/javascript.remix.mdx
  platform-includes/tracing/sample-rate/javascript.solidstart.mdx
  platform-includes/tracing/sample-rate/javascript.sveltekit.mdx
  platform-includes/tracing/trace-sampler/javascript.astro.mdx
  platform-includes/tracing/trace-sampler/javascript.cloudflare.mdx
  platform-includes/tracing/trace-sampler/javascript.mdx
  platform-includes/tracing/trace-sampler/javascript.nextjs.mdx
  platform-includes/tracing/trace-sampler/javascript.node.mdx
  platform-includes/tracing/trace-sampler/javascript.nuxt.mdx
  platform-includes/tracing/trace-sampler/javascript.remix.mdx
  platform-includes/tracing/trace-sampler/javascript.solidstart.mdx
  platform-includes/tracing/trace-sampler/javascript.sveltekit.mdx
  redirects.js
Labels: WIP

#13000 feat(godot): Refine Readable Stack Traces guide
  docs/platforms/godot/configuration/imgs/symbolicated_issue.png
  docs/platforms/godot/configuration/stack-traces.mdx
Labels: Platform: Godot

#12997 feat(apple): add new options for Session Replay
  docs/platforms/apple/guides/ios/session-replay/index.mdx
  docs/platforms/apple/guides/ios/session-replay/performance-overhead.mdx
Labels: Platform: Cocoa

#12999 feat(apple): add manual file I/O tracing and experimental swizzling options
  docs/platforms/apple/common/tracing/instrumentation/automatic-instrumentation.mdx
Labels: Platform: Cocoa

#13033 Use `HandlerStack::create()` in Guzzle tracing middleware snippet
  docs/platforms/php/common/tracing/instrumentation/requests-module.mdx
Labels: Platform: PHP

#12850 feat: nintendo switch
  docs/platforms/nintendo-switch/index.mdx
  src/components/platformIcon.tsx
  src/data/platforms.yml
  src/middleware.ts
Labels: Do not merge
