Repository getsentry/sentry-docs, pull requests merged in 2025-04, with the labels that each got.

#13197 feat: update docs for profiling v2
  docs/platforms/apple/common/index.mdx
  docs/platforms/apple/common/profiling/index.mdx
  docs/platforms/apple/index.mdx
Labels: Platform: Cocoa, Product Area: Profiling

#13262 feat(go): Update transaction & span instrumentation docs
  docs/platforms/go/common/tracing/instrumentation/custom-instrumentation/index.mdx
Labels: Platform: Go, Team: Web SDK Backend

#13089 feat(godot): Document `diagnostic_level` option
  docs/platforms/godot/configuration/options.mdx
Labels: Platform: Godot

#13371 fix(go) - tracing injection
  platform-includes/distributed-tracing/custom-instrumentation/go.mdx
Labels: Platform: Go, Team: Web Backend SDKs

#11364 [Python] Update Litestar integration usage
  docs/platforms/python/integrations/litestar/index.mdx
Labels: Stale

#13423 docs(dotnet): Add `SendDefaultPii = true` option
  docs/platforms/dotnet/common/configuration/heap-dumps.mdx
  docs/platforms/dotnet/guides/aspnet/index.mdx
  docs/platforms/dotnet/guides/aspnet/tracing/included-instrumentation.mdx
  docs/platforms/dotnet/guides/aspnet/troubleshooting.mdx
  docs/platforms/dotnet/guides/aspnetcore/index.mdx
  docs/platforms/dotnet/guides/aws-lambda/index.mdx
  docs/platforms/dotnet/guides/azure-functions-worker/index.mdx
  docs/platforms/dotnet/guides/blazor-webassembly/index.mdx
  docs/platforms/dotnet/guides/entityframework/index.mdx
  docs/platforms/dotnet/guides/extensions-logging/index.mdx
  docs/platforms/dotnet/guides/maui/index.mdx
  docs/platforms/dotnet/guides/uwp/index.mdx
  docs/platforms/dotnet/guides/winforms/index.mdx
  docs/platforms/dotnet/guides/winui/index.mdx
  docs/platforms/dotnet/guides/wpf/index.mdx
  docs/platforms/dotnet/guides/xamarin/index.mdx
  docs/platforms/dotnet/index.mdx
  platform-includes/configuration/config-intro/dotnet.aspnetcore.mdx
  platform-includes/configuration/config-intro/dotnet.mdx
  platform-includes/configuration/config-intro/dotnet.xamarin.mdx
  platform-includes/configuration/diagnostic-logger/dotnet.mdx
  platform-includes/enriching-events/attach-screenshots/dotnet.maui.mdx
  platform-includes/enriching-events/attach-screenshots/dotnet.xamarin.mdx
  platform-includes/getting-started-config/dotnet.aspnet.mdx
  platform-includes/getting-started-config/dotnet.mdx
  platform-includes/performance/opentelemetry-setup/dotnet.mdx
Labels: Platform: .NET, SDKs, Team: SDKs

#13428 feat(Godot): Update options screenshot on the landing page
  platform-includes/getting-started-config/img/godot_project_settings.png
Labels: Platform: Godot

#13353 chore(godot): Sync restructured options
  docs/platforms/godot/configuration/options.mdx
Labels: Platform: Godot

#12513 docs(self-hosted): handle reverse proxy cors issues for ingest endpoints
  develop-docs/self-hosted/experimental/external-storage.mdx
  develop-docs/self-hosted/experimental/reverse-proxy.mdx
Labels: review: pending decision

#13470 Small improvements to `traces_sampler` configuration.
  docs/platforms/python/configuration/options.mdx
  platform-includes/performance/sampling-function-intro/python.mdx
  platform-includes/performance/traces-sampler-as-filter/python.mdx
  platform-includes/performance/traces-sampler-as-sampler/python.mdx
  platform-includes/performance/traces-sampler-config-option/python.mdx
Labels: Effort: Small, Python

#13448 feat(seer): Update seer docs
  docs/product/issues/issue-details/index.mdx
  docs/product/issues/issue-details/sentry-ai/index.mdx
  docs/product/issues/issue-details/sentry-seer/img/autofix-qna.png
  docs/product/issues/issue-details/sentry-seer/img/autofix-results.png
  docs/product/issues/issue-details/sentry-seer/img/autofix-start-screen.png
  docs/product/issues/issue-details/sentry-seer/img/setup.png
  docs/product/issues/issue-details/sentry-seer/img/solutions-hub.png
  docs/product/issues/issue-details/sentry-seer/index.mdx
  docs/security-legal-pii/security/ai-ml-policy.mdx
  docs/security-legal-pii/security/service-data-usage.mdx
  redirects.js
  src/middleware.ts
Labels: WIP

#13524 (feat) Sentry MCP Documentation
  docs/product/sentry-mcp/img/mcp-autofix1.png
  docs/product/sentry-mcp/img/mcp-light-1.png
  docs/product/sentry-mcp/img/mcp-tools.png
  docs/product/sentry-mcp/index.mdx
Labels: WIP
