Repository getsentry/sentry-docs, pull requests merged in 2025-08, with the labels that each got.

#14438 Godot: Document `disabled-in-editor-play` option
  docs/platforms/godot/configuration/options.mdx
Labels: Godot

#14634 Document undocumented php prefix option
  docs/platforms/php/common/configuration/options.mdx
Labels: SDKs, PHP

#14583 docs(dotnet/logs): add Logs for the .NET SDK
  docs/platforms/dotnet/common/logs/index.mdx
  docs/platforms/dotnet/guides/extensions-logging/index.mdx
  docs/product/explore/logs/getting-started/index.mdx
  platform-includes/logs/integrations/dotnet.mdx
  platform-includes/logs/options/dotnet.mdx
  platform-includes/logs/requirements/dotnet.mdx
  platform-includes/logs/setup/dotnet.mdx
  platform-includes/logs/usage/dotnet.mdx
Labels: Docs, .NET, Docs Platform

#14653 docs(logs): fix hyphenation
  docs/platforms/android/logs/index.mdx
  docs/platforms/dart/common/logs/index.mdx
  docs/platforms/dart/guides/flutter/logs/index.mdx
  docs/platforms/go/common/logs/index.mdx
  docs/platforms/java/common/logs/index.mdx
  docs/platforms/javascript/common/logs/index.mdx
  docs/platforms/php/common/logs/index.mdx
  docs/platforms/php/guides/laravel/logs/index.mdx
  docs/platforms/python/logs/index.mdx
  docs/platforms/react-native/logs/index.mdx
  docs/platforms/ruby/logs/index.mdx
  docs/platforms/rust/common/logs/index.mdx
  docs/product/explore/logs/index.mdx
Labels: Docs
