Repository getsentry/sentry-docs, pull requests merged in 2025-09, with the labels that each got.

#14849 Reference User Feedback Basics Page on User Feedback Product Docs Homepage
  docs/product/user-feedback/index.mdx
Labels: Improvement

#14988 docs(Godot): Mark screenshot option as experimental
  docs/platforms/godot/configuration/options.mdx
  docs/platforms/godot/enriching-events/screenshots/img/project-settings.png
  docs/platforms/godot/enriching-events/screenshots/index.mdx
Labels: Godot

#14891 Update options + symfony specific integrations doc
  docs/platforms/php/guides/symfony/configuration/symfony-options.mdx
  docs/platforms/php/guides/symfony/integrations/index.mdx
Labels: SDKs, Symfony

#15051 Python: Update some options
  docs/platforms/python/configuration/options.mdx
  platform-includes/performance/traces-sampler-config-option/python.mdx
Labels: Platform: Python
